strong {
  font-weight: 400;
}

main {
  color: #333;
}

main nav .gnb {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  z-index: 1;
  background-color: #f7f7f7;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  main nav .gnb {
    justify-content: center;
    width: 50%;
    flex-direction: row;
    background-color: transparent;
  }
}

main nav .gnb li {
  padding-top: 20px;
}

@media screen and (min-width: 1400px) {
  main nav .gnb li {
    padding: 20px 0;
  }
}

@media screen and (min-width: 1400px) {
  main nav .gnb li:last-child a {
    border-right: 0;
  }
}

main nav .gnb li a {
  font-family: "LEMON MILK Light";
  letter-spacing: 1px;
  color: #bdbdbd;
}

@media screen and (min-width: 1400px) {
  main nav .gnb li a {
    border-right: 2px solid black;
    padding-right: 100px;
    padding-left: 100px;
  }
}

main nav .gnb li a:hover {
  color: black;
  font-weight: bolder;
}

main section.maintext {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main section.maintext {
    margin-top: 125px;
  }
}

main section.maintext p {
  text-align: center;
  font-family: "SCoreDream";
  font-size: calc(8px + 3vw);
  line-height: calc(1em + 3vw);
  font-weight: 200;
  margin-bottom: 65px;
}

@media screen and (min-width: 1400px) {
  main section.maintext p {
    font-size: 48px;
    line-height: 96px;
    margin-bottom: 125px;
  }
}

@media screen and (min-width: 1400px) {
  main .flex-box {
    display: flex;
  }
}

main .flex-box .mariposa img,
main .flex-box .spectrum img,
main .flex-box .gallery img,
main .flex-box .m29 img,
main .flex-box .atrium img {
  width: 100%;
  display: block;
}

main .flex-box .mariposa,
main .flex-box .spectrum,
main .flex-box .m29,
main .flex-box .atrium {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  transition: opacity 0.2s;
}

@media screen and (min-width: 1400px) {
  main .flex-box .mariposa,
  main .flex-box .spectrum,
  main .flex-box .m29,
  main .flex-box .atrium {
    margin-bottom: 200px;
  }
}

main .flex-box .gallery {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  transition: opacity 0.2s;
}

@media screen and (min-width: 1400px) {
  main .flex-box .gallery {
    margin-bottom: 200px;
  }
}

main .flex-box .mariposa:hover .m-img,
main .flex-box .spectrum:hover .s-img,
main .flex-box .gallery:hover .g-img,
main .flex-box .m29:hover .m29-img,
main .flex-box .atrium:hover .atrium-img {
  background-color: black;
}

main .flex-box .mariposa:hover .m-img a,
main .flex-box .spectrum:hover .s-img a,
main .flex-box .gallery:hover .g-img a,
main .flex-box .m29:hover .m29-img a,
main .flex-box .atrium:hover .atrium-img a {
  color: #ffffff;
  display: block;
  font-weight: 200;
}

main .flex-box .m-img,
main .flex-box .s-img,
main .flex-box .g-img,
main .flex-box .m29-img,
main .flex-box .atrium-img {
  opacity: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

main .flex-box .mariposa:hover img,
main .flex-box .spectrum:hover img,
main .flex-box .gallery:hover img,
main .flex-box .m29:hover img,
main .flex-box .atrium:hover img {
  opacity: 0.2;
  transition: all 0.3s ease;
}

main .flex-box .mariposa .ex-text,
main .flex-box .spectrum .ex-text,
main .flex-box .gallery .ex-text,
main .flex-box .m29 .ex-text,
main .flex-box .atrium .ex-text {
  font-size: 16px;
}

@media screen and (min-width: 1400px) {
  main .flex-box .mariposa .ex-text,
  main .flex-box .spectrum .ex-text,
  main .flex-box .gallery .ex-text,
  main .flex-box .m29 .ex-text,
  main .flex-box .atrium .ex-text {
    font-size: 20px;
  }
}

main .flex-box .mariposa p,
main .flex-box .spectrum p,
main .flex-box .gallery p,
main .flex-box .m29 p,
main .flex-box .atrium p {
  color: white;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1400px) {
  main .flex-box .mariposa p,
  main .flex-box .spectrum p,
  main .flex-box .gallery p,
  main .flex-box .m29 p,
  main .flex-box .atrium p {
    font-size: 50px;
  }
}

main .flex-box .mariposa:hover p,
main .flex-box .spectrum:hover p,
main .flex-box .gallery:hover p,
main .flex-box .m29:hover p,
main .flex-box .atrium:hover p {
  opacity: 1;
  transition: all 0.3s ease;
}

main .flex-box .mariposa:hover p::before,
main .flex-box .spectrum:hover p::before,
main .flex-box .gallery:hover p::before,
main .flex-box .m29:hover p::before,
main .flex-box .atrium:hover p::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 30px;
  height: 5px;
  background: red;
  transform: translateX(-50%);
}
