strong {
  font-weight: 400;
}

main {
  color: #333;
}

main .sec1 .maintext {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .maintext {
    margin-top: 125px;
  }
}

main .sec1 .maintext p {
  text-align: center;
  font-family: "SCoreDream";
  font-size: calc(8px + 3vw);
  line-height: calc(1em + 3vw);
  font-weight: 200;
  margin-bottom: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .maintext p {
    font-size: 48px;
    line-height: 96px;
    margin-bottom: 125px;
  }
}

main .sec1 .maintext p .hidden-text {
  display: none;
}

@media screen and (min-width: 1400px) {
  main .sec1 .maintext p .hidden-text {
    display: block;
  }
}

main .sec2 .sec2-img img {
  width: 100%;
}

main .sec3 {
  margin-top: 65px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec3 {
    margin-top: 125px;
    margin-bottom: 50px;
  }
}

main .sec3 .main-text h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
  margin-bottom: calc(0.5em + 2vw);
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (min-width: 1400px) {
  main .sec3 .main-text h4 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

main .sec3 .main-text h4::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3px solid #333;
  margin: 8px auto;
}

@media screen and (min-width: 1400px) {
  main .sec3 .main-text h4::before {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 4px solid #333;
    margin: 10px auto;
  }
}

main .sec4 {
  background-color: #fbe7ec;
}

@media screen and (min-width: 1400px) {
  main .sec4 .sec4-flex-box {
    display: flex;
  }
}

main .sec4 .sec4-flex-box ul {
  line-height: 50px;
}

@media screen and (min-width: 1400px) {
  main .sec4 .sec4-flex-box ul {
    width: 100%;
  }
}

main .sec4 .sec4-flex-box .li-flex-box {
  display: flex;
  justify-content: space-between;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec4 .sec4-flex-box .li-flex-box {
    font-size: 18px;
  }
}

main .sec4 .sec4-flex-box .li-flex-box div {
  font-family: "LEMON MILK Light";
  letter-spacing: 1px;
}

main .sec5 {
  margin-top: 65px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec5 {
    margin-top: 125px;
    margin-bottom: 50px;
  }
}

main .sec5 .main-text h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
  margin-bottom: calc(0.5em + 2vw);
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (min-width: 1400px) {
  main .sec5 .main-text h4 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

main .sec5 .main-text h4::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3px solid #333;
  margin: 8px auto;
}

@media screen and (min-width: 1400px) {
  main .sec5 .main-text h4::before {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 4px solid #333;
    margin: 10px auto;
  }
}

main .sec6 {
  margin-bottom: 100px;
}

@media screen and (min-width: 1400px) {
  main .sec6 {
    margin-bottom: 200px;
  }
}

main .sec6 .sec6-flex-box ul {
  line-height: 50px;
}

@media screen and (min-width: 1400px) {
  main .sec6 .sec6-flex-box ul {
    width: 100%;
  }
}

main .sec6 .sec6-flex-box li {
  list-style: inside;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec6 .sec6-flex-box li {
    font-size: 18px;
  }
}
