@import "./style.scss";
@import "./mixin.scss";

@font-face { 
    font-family: 'LEMONMILK-Light';  /* 폰트 명 */
    font-style: normal;  /* 폰트 스타일 설정 */
    src: url('../font/LEMONMILK-Light.eot'); /* IE9 미만 */
    src: local('Kakao-aLt'),/* 웹 브라우저가 지원하지 않는 불필요한 웹 폰트 호출을 막는데 사용 */
    url('../font/LEMONMILK-Light.woff2') format('woff2'),  /* WOFF의 차기 포맷 */
    url('../font/LEMONMILK-Light.woff') format('woff'),  /* 표준 브라우저 */
    url('../font/LEMONMILK-Light.ttf') format('truetype'),  /* Safari, Android, iOS */
    url('../font/LEMONMILK-Light.svg') format('svg');/* TTF에서도 커버가 안되는 기기들에 대한 대응 */
    }

html {
    overflow: overlay;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #8a714b, $alpha: 0.8);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 8px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333333;

    font: {
        family: $common_font;
        weight: 200;
        size: 1.125em;
    }
}

.wrapper {
    width: 100%;
    // background-color: rgb(151, 168, 240);
    color: white;
}

.container {
    width: 89.74358974358974%;

    @include responsive(pc-screens) {
        width: 100%;
    }

    position: relative;
    max-width: 1380px;
    margin: 0 auto;

}

a {
    color: #333333;
    text-decoration: none;
    font: {
        family: $common_font;
        weight: 100;
        size: 1em;
    }
}

h1{
    font-size: 7.5em;
    font-weight: 200;
    font-family: $common_font;
}

h2 {
    font-size: 5em;
    font-weight: 200;
}

h3 {
    font-size: 3em;
    font-weight: 200;
}

h4 {
    font-weight: 200;
}

h5 {
    font-weight: 200;
}

ul,
ol,
li {
    list-style: none;
}

.no {
    display: none;
}