@import "../../../scss/style.scss";

@mixin mb-small-btn {
  //width만 다름
  width: 43.5897vw;
  max-width: 170px;
  height: calc(43.5897vw * 0.3176);
  line-height: min(calc(43.5897vw * 0.2941), 50px);
  font-weight: 400;
  font-size: min(4.1026vw, 16px);
  text-align: center;
  background-color: #fff;
  color: #ffb400;
  border: #ffb400 solid 1px;
  max-height: 54px;
  border-radius: min(1.2821vw, 5px);
  transition: 300ms ease;

  &:first-of-type {
    margin-right: min(2.5641vw, 10px);
  }

  &:hover {
    background-color: #ffb400;
    color: #fff;
  }
}

@mixin mb-large-btn {
  //width만 다름
  width: 89.7436vw;
  max-width: 350px;
  height: calc(43.5897vw * 0.3176);
  line-height: min(calc(43.5897vw * 0.2941), 50px);
  font-weight: 400;
  font-size: min(4.1026vw, 16px);
  text-align: center;
  background-color: #fff;
  color: #ffb400;
  border: #ffb400 solid 1px;
  max-height: 54px;
  border-radius: min(1.2821vw, 5px);
  transition: 300ms ease;

  &:hover {
    background-color: #ffb400;
    color: #fff;
  }
}

@mixin sub_h3 { //이거 다름
  // margin-bottom: 50px;
  text-align: center;
  @include type_custom(2.5em, $eng_title_font);
  // margin-top: 125px;

  @include responsive(pc-screens) {
    font-size: 5em;
    // margin-bottom: 75px;
    // margin-top: 200px;
  }
}