main {
  color: #333;
}
main .sec1 .container {
  margin-top: 65px;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container {
    display: flex;
    margin-top: 125px;
  }
}
main .sec1 .container .flex-box {
  background-color: #fcf6e1;
  padding: 30px;
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box {
    width: 50%;
  }
}
main .sec1 .container .flex-box .flex-box1 {
  display: flex;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 {
    font-size: 18px;
  }
}
main .sec1 .container .flex-box .flex-box1 .info {
  font-family: "LEMONMILK-Light";
  line-height: 50px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .info {
    line-height: 100px;
  }
}
main .sec1 .container .flex-box .flex-box1 .detail {
  margin-left: 50px;
  line-height: 50px;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .detail {
    line-height: 100px;
  }
}
main .sec1 .container .flex-box .menu-flex-box {
  display: flex;
  justify-content: center;
}
main .sec1 .container .flex-box .menu-flex-box .menu {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  background-color: white;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu {
    margin-top: 60px;
  }
}
main .sec1 .container .flex-box .menu-flex-box .menu a {
  font-family: "LEMONMILK-Light";
  font-size: calc(0.6em + 0.6vw);
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu a {
    font-size: 18px;
  }
}
main .sec1 .container .sec1-img {
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img {
    width: 50%;
  }
}
main .sec1 .container .sec1-img img {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img img {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  main .sec2 .sec2-box {
    display: flex;
    width: 100%;
  }
}
main .sec2 .sec2-box div img {
  width: 100%;
  display: block;
}
main .sec2 .sec2-box .hover-img {
  position: relative;
}
main .sec2 .sec2-box .hover-img p {
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: "SCoreDream";
  font-size: calc(1.5em + 1vw);
}
@media screen and (min-width: 1400px) {
  main .sec2 .sec2-box .hover-img p {
    font-size: 2em;
  }
}
main .sec2 .sec2-box .hover-img p strong {
  font-family: "LEMONMILK-Light";
  letter-spacing: 2px;
}
main .sec2 .sec2-box .hover-img p a {
  font-family: "LEMONMILK-Light";
  color: #333333;
  font-size: 24px;
}
main .sec2 .sec2-box .hover-img p a:hover {
  color: white;
  transition: all 0.5s;
  text-decoration: none;
}
main .sec3 {
  margin-top: 65px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1400px) {
  main .sec3 {
    margin-top: 125px;
    margin-bottom: 200px;
  }
}
main .sec3 .sec3-text {
  text-align: center;
}
main .sec3 .sec3-text p {
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}
@media screen and (min-width: 1400px) {
  main .sec3 .sec3-text p {
    font-size: 18px;
  }
}
main .sec3 .sec3-text .rooftop {
  letter-spacing: 2px;
  font-family: "LEMONMILK-Light";
  font-size: calc(1.5em + 3vw);
}
@media screen and (min-width: 1400px) {
  main .sec3 .sec3-text .rooftop {
    font-size: 5em;
  }
}
main .sec3 .sec3-img-box img {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1400px) {
  main .sec3 .sec3-img-box {
    display: flex;
  }
}

.wrapper {
  overflow: hidden;
}