@import "../../../../scss/style.scss";
@import "../../../../scss/mixin.scss";
@import "../../../scss_room/room_mixin.scss";



main {
    color: #333;
    .room_int {
        margin-top: $mid_margin_m;
        

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
        }

        h3.first {
            position: relative;
            text-align: center;
            @include type_custom(calc(8px + 3vw), $common_font);
            line-height: calc(1em + 3vw);
            font-weight: 200;
            margin-bottom: $mid_margin_m;

            @include responsive(pc-screens) {
                font-size: 48px;
                line-height: 96px;
                margin-bottom: $mid_margin;
            }

            span {
                font-weight: 400;
                @include responsive(pc-screens) {
                    //
                }
            }
        }

        .room_info{
            margin-top: $mid_margin_m;
            width: 100%;
            height: 700px;
            overflow: hidden;
            margin: 0 auto;

            @include responsive(pc-screens) {
                margin-top: $mid_margin;
            }
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
    
                @include responsive(pc-screens) {
                    width: 100vw;
                    max-height: 100vh;
                }
            }
        }

        .room_cont {
            color: white;
            transform: translateY(-200px);
            // background-size: cover;
            position: relative;
    
    
            img.rbm {
                width: 100%;
                height: 581px;
                z-index: -1;
    
                @include responsive(pc-screens) {
                    display: none;
                }
            }
    
            img.rbp {
                display: none;
                height: 40vw;
    
                @include responsive(pc-screens) {
                    display: block;
                    max-width: auto;
                    position: absolute;
                    right: 0;
                    opacity: 0.9;
                    width: 515px;
                    height: 640px;
                    transform: translateY(-440px);
                }
            }
    
            .room_sub {
                position: absolute;
                transform: translateY(-560px);
                padding-top: 50px;
                text-align: center;
    
                @include responsive(pc-screens) {
                    position: absolute;
                    right: 25px;
                    top: 150px;
                    width: 465px;
                }

    
                h5 {
                    @include type_custom(calc(16px + 3vw), $common_font);
                    font-weight: 300;

                    @include responsive(pc-screens) {
                        font-size: 2em;
                    }
                }
        
                h6 {
                    @include type_custom(calc(8px + 1.5vw), $eng_title_font);
                    padding-top: calc(3px + 0.5vw);
                    letter-spacing: 2px;

                    @include responsive(pc-screens) {
                        font-size: 18px;
                        padding-top: 20px;
                    }

                }
    
                p.desc {
                    padding-top: $small_margin_m;
                    text-align: justify;
                    @include type_custom(calc(0.8em + 1vw), $common_font);
                    line-height: calc(2em + 1vw);
                    font-weight: 200;

                    @include responsive(pc-screens) {
                        padding-top: $small_margin;
                        font-size: 21px;
                        line-height: 42px;
                    }
    
                }
    
                ul.r_info {
                    position: absolute;
                    top: 360px;                    
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin: 0 auto;
                    justify-content: space-between;
    
                    @include responsive(pc-screens) {
                        width: 100%;
                        top: 400px;
                    }
    
                    li {
                        width: 30%;
                        img {
                            width: calc(30px + 5vw);

                            @include responsive(pc-screens) {
                                width: 80px;
                            }
                        }

                        p{
                            position: relative;
                            text-align: center;
    
                            @include type_custom(calc(0.5em + 1.2vw), $eng_title_font);
                            padding-top:10px;

                            @include responsive(pc-screens) {
                                font-size: 1em;
                            }

                            &+p {
                                @include type_custom(calc(0.8em + 1.2vw), $common_font);

                                @include responsive(pc-screens) {
                                    font-size: 1em;
                                }

                            }

                            span {
                                font-size: 0.6em;
                                position: absolute;
                                top: 25%;

                                @include responsive(pc-screens) {
                                    top: 20%;
                                }
                            }
                        }
                    } 
                } //.room_info
            } //.room_sub
        } //.room_cont

        h3.last {
            position: relative;
            transform: translateY(-150px);
            text-align: center;
            @include type_custom(calc(8px + 3vw), $common_font);
            line-height: calc(1em + 3vw);
            font-weight: 200;

            @include responsive(pc-screens) {
                font-size: 48px;
                line-height: 96px;
                margin-top: $small_margin;
                transform: translateY(+0);
            }

            span {
                font-weight: 400;
                @include responsive(pc-screens) {
                    //
                }
            }
        }
    } //.room_int

    .room_gall {
        position: relative;
        margin: 0 auto;
        margin-top: $small_margin_m;

        @include responsive(pc-screens){
            margin-top: $big_margin;
        }

        h3 {
            @include sub_h3;
        }

        .gall_main {
            width: 100%;
            max-height: 80vh;
            overflow: hidden;


            @include responsive(pc-screens) {
                max-height: 95vh;
            }

            ul {
                display: flex;
                position: relative;
                justify-content: space-between;
                width: 300%;

                @include responsive(pc-screens) {
                    min-height: 100%;
                }
    
                li {
                    width: 100%;
                    overflow: hidden;
                    margin: 0 auto;

                    @include responsive(pc-screens) {
                        width: 60%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        &.small_img {
                            transform: scale(0.8);
                            transform-origin: top;
                            opacity: 0.3;
                        }
                    }
    
                }
            }
        } //gall_main

        .gall_navi {
            position: absolute;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
            position: bottom;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);

            
            @include responsive(pc-screens) {
                // width: 300px;
                bottom: 20px;
                
            }

            li {
                span {
                    cursor: pointer;
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: white;
                    opacity: 0.5;
                    margin-right: 10px;

                    @include responsive(pc-screens) {
                        width: 50px;
                        height: 3px;
                    }

                    &.longer {
                        width: 100px;
                        opacity: 1.0;
                        transition: all 1s;

                        @include responsive(pc-screens) {
                            width: 150px;
                            height: 3px;
                        }
                    }
                }
            } //li
            
        }
        
    }//.room_gall
    

    .room_types {
        margin-top: $big_margin_m;

        @include responsive(pc-screens) {
            margin-top: $big_margin;
        }

        h3 {
            @include sub_h3;
        }

        .room_gnb {
            position: relative;
            background-color: #f4f4f4;
            text-align: center;

            ul {

                display: flex;
                flex-direction: column;

                @include responsive(pc-screens) {
                    flex-direction: row;
                    width: 60%;
                    justify-content: space-between;
                    max-width: 1380px;
                    margin: 0 auto;
                }

                li {
                    @include type_custom(calc(14px + 0.5vw), $common_font);
                    cursor: pointer;
                    font-weight: 200;
                    width: 100%;
                    color: #bdbdbd;
                    padding: 10px 0;
                    text-align: center;

                    @include responsive(pc-screens) {
                        font-size: $semif;
                        // background-color: #2a52be;

                    }

                    &:hover {
                        font-weight: 400;
                        color: #333;
                    }

                    &.bold {
                        font-weight: 400;
                        color: #333;
                    }

                    
                    
                }
            }
        }

        .types_flex {
            position: relative;
            margin-top: $mid_margin_m;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include responsive(pc-screens) {
                margin-top: $mid_margin;
                flex-direction: row;
            }

            .types_left {
                width: 100%;

                @include responsive(pc-screens) {
                    width: 580px;
                }


                h4 {
                    @include type_custom(calc(18px + 0.5vw), $common_font);
                    margin-bottom: 30px;
                    font-weight: 400;

                    @include responsive(pc-screens) {
                        display: none;
                    }

                    &::before {
                        @include title_border_2(30px, 3px, #333, 5px, 5px)
                    }

                } 


                .type_img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    margin: 0 auto;

                    @include responsive(pc-screens){
                        
                        width: 580px;
                        height: 435px;
                        overflow: hidden;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // height: calc(200px + 20vw);
                        

                        @include responsive(pc-screens) {
                            //
                        }
                    }
                }
            } // type_left

            .types_right {
                position: relative;

                @include responsive(pc-screens) {
                    width: 680px;
                    height: 450px;
                }

                h4 {
                    @include type_custom($regularf_title, $common_font);
                    margin-bottom: 30px;
                    font-weight: 400;
                    display: none;

                    @include responsive(pc-screens) {
                        display: block;
                    }

                    &::before {
                        @include title_border_2(40px, 3px, #333, 10px, 10px)
                    }

                } //h4

                p.subs {
                    @include type_custom(calc(0.5em + 1vw), $common_font);
                    line-height: 2em;
                    margin-top: 30px;
                    text-align: justify;

                    @include responsive(pc-screens) {
                        font-size: $mainf;
                        line-height: $mains;
                    }

                }

                ul {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: calc(1em + 2vw);
                    

                    @include responsive(pc-screens) {
                        margin-top: 40px;
                    }
                    

                    li {
                        text-align: center;

                        @include responsive(pc-screens) {
                            width: 150px;
                        }

                        img {
                            width: 50%;
                            text-align: center;

                            @include responsive(pc-screens) {
                                width: 80px;
                            }
                        }

                        p {
                            @include type_custom(calc(0.5em + 1vw), $common_font);
                            margin-top: calc(0.2em + 1vw);
                            text-align: center;
                            position: relative;

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }

                            br {
                                @include responsive(pc-screens) {
                                    display: none;
                                }
                            }

                            span.plus {
                                display: none;

                                @include responsive(pc-screens) {
                                    display: inline;
                                }
                            }

                            span.small {
                                font-size: calc(0em + 0.1vw);
                                position: absolute;

                                @include responsive(pc-screens) {
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                }

                .button {
                    
                    display: flex;
                    justify-content: space-between;
                    margin-top: calc(1em + 2vw);

                    @include responsive(pc-screens){
                        margin-top: 40px;
                        bottom: 0;
                    }

                    button {
                        cursor: pointer;
                        width: 45%;
                        height: 40px;
                        @include type_custom(calc(0.5em + 1vw), $common_font);
                        font-weight: 200;
                        background-color: transparent;
                        border: 1px solid #333;
                        color: #333;

                        @include responsive(pc-screens) {
                            height: 60px;
                            font-size: $semif;
                        }
                        
                        &:hover {
                            transition: all 0.5s;
                            background-color: #333;
                            color: white;
                        }

                        &:last-child {
                            background-color: #000066;
                            border: 1px solid #000066;
                            color: white;
    
                            &:hover {
                                transition: all 0.5s;
                                border: 1px solid #333;
                                background-color: #333;
    
                                color: white;
                            }
                        
                        }
                    }     
                }
            } //types_right
        } //types_flex

        


    } //room_types

    .room_modal {

        // margin-top: $mid_margin_m;

        // @include responsive(pc-screens) {
        //     margin-top: $mid_margin;
        // }

        .closer {
            cursor: pointer;

            p{
                @include type_custom(calc(1em + 0.5vw),$common_font);
                font-weight: 400;
                text-align: center;
                width: 100%;
                // padding: 10px 0;
                border-radius: 5px;

                @include responsive(pc-screens) {
                    font-size: $middlef_main;
                }

                &:hover {
                    background-color: rgba($color: #000066, $alpha: 0.1);
                    transition: all 0.5s;
                }
            }            
        }
        
        .overview {

            margin-top: $small_margin_m;

            @include responsive(pc-screens) {
                margin-top: $small_margin;
            }
            
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }

            p {
                @include type_custom(calc(0.5em + 1vw),$common_font);
                margin-top: $small_margin_m;
                line-height: calc(2em + 1vw);
                text-align: justify;

                @include responsive(pc-screens) {
                    margin-top: $small_margin;
                    line-height: $semis;
                    font-size: $semif;
                }

                span{
                    font-weight: 400;
                    color: #000066;
                }
            }
        } //.overview

        .room_in {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                margin-top: $mid_margin;
            }

            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }

            ul.icons {
                margin-top: $small_margin_m;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @include responsive(pc-screens) {
                    margin-top: $small_margin;
                }
                
                li {
                    width: 30%;
                    text-align: center;
                    @include responsive(pc-screens) {
                        width: 200px;
                    }


                    &:nth-child(4), &:nth-child(5), &:nth-child(6){
                        margin-top: $small_margin_m;

                        @include responsive(pc-screens) {
                            margin-top: 0;
                        }
                    }

                    img {
                        width: 40%;
                        max-width: 80px;

                        @include responsive(pc-screens) {
                            widwth: 150px;
                        }

                    }

                    em {
                        display: block;
                        font-style: normal;
                        @include type_custom(calc(0.5em + 0.8vw), $common_font);
                        font-weight: 400;
                        margin-top: calc(0.2em + 0.2vw);


                        @include responsive(pc-screens) {
                            margin-top: 50px;
                            font-size: $mainf;

                        }
                    }

                    p {
                        position: relative;
                        @include type_custom(calc(0.5em + 0.8vw), $common_font);
                        margin-top: calc(0.2em + 0.2vw);



                        @include responsive(pc-screens) {
                            margin-top: 10px;
                            font-size: $mainf;
                        }

                        span.semi_big {
                            color: #000066;
                            @include type_custom(calc(1.5em + 1vw), $common_font);
                            margin-right: 5px;

                            @include responsive(pc-screens) {
                                font-size: 2em;
                            }
                        }

                        span.big {
                            color: #000066;
                            @include type_custom(calc(1.5em + 1vw), $common_font);
                            margin-right: 5px;

                            @include responsive(pc-screens) {
                                font-size: 2em;
                            }
                        }

                        span.small {
                            position: absolute;
                            font-size: calc(0.4em + 0.4vw);
                            top: 35%;

                            @include responsive(pc-screens) {
                                top: 40%;
                                font-size: 8px;
                            }
                        } 
                    } //ul
                } //li
            } //.ui_icons
        } //.room_in

        .room_amenity {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                margin-top: $mid_margin;
            }

            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }


                .ame_grp {
                    background-color: rgba($color: #000066, $alpha: 0.1);
                    padding: 0 20px;
                    padding-top: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    @include responsive(pc-screens) {
                        padding: 0 50px;
                        padding-top: 50px;
                    }

                    div {
                        width: 45%;

                        @include responsive(pc-screens) {
                            widows: 30%;
                        }

                        @include responsive(pc-screens) {
                            width: 380px;
                            height: 330px;
                        }

                        ul {
                            margin-bottom: 50px;

                            img {
                                position: relative;
                                margin-right: 10px;
                                height: calc(1.2em + 0.8vw);
                                margin-bottom: calc(0.5em + 0.3vw);

                                @include responsive(pc-screens) {
                                    height: 30px;
                                    margin-bottom: 24px;
                                    margin-right: 15px;
                                }
                            }

                            p{
                                position: absolute;
                                @include type_custom(calc(0.8em + 0.8vw), $common_font);
                                display: inline;
                                font-weight: 300;

                                @include responsive(pc-screens) {
                                    font-size: $semif;
                                }
                            }

                            li {
                                list-style:'- ' inside;
                                // background-color: red;
                                @include type_custom(calc(0.6em + 0.6vw), $common_font);
                                margin-bottom: calc(0.3em + 0.3vw);

                                @include responsive(pc-screens) {
                                    font-size: $mainf;
                                    margin-bottom: 18px;
                                }
                                
                            } //li
                        } //ul
                    } //div
                
                } //.ame_grp

                
        } //room_amenity

        .room_smoke {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                margin-top: $mid_margin;
            }

            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }

            .img {
                text-align: center;
                @include responsive(pc-screens) {
                        // width: 200px
                }

                img{
                    width: 20%;
                    max-width: 120px;

                    @include responsive(pc-screens) {
                        width: 200px;
                    }
                }
            }


            p {
                @include type_custom(calc(0.5em + 1vw),$common_font);
                margin-top: $small_margin_m;
                line-height: calc(2em + 1vw);
                text-align: justify;

                @include responsive(pc-screens) {
                    margin-top: $small_margin;
                    line-height: $semis;
                    font-size: $semif;
                }

                span{
                    font-weight: 400;
                    color: #000066;
                }
            }
        } //.room_smoke 
        
        .closer {
            margin-top: $small_margin_m;

            @include responsive(pc-screens) {
                margin-top: $small_margin;
            } 

            p{
                @include type_custom(calc(1em + 0.5vw),$common_font);
                font-weight: 400;
                text-align: center;
                width: 100%;
                padding: 10px 0;
                border-radius: 5px;

                @include responsive(pc-screens) {
                    font-size: $middlef_main;
                }

                &:hover {
                    background-color: rgba($color: #000066, $alpha: 0.1);
                    transition: all 0.5s;
                }
            }            
        } //.closer
    }//.room_modal

    .notice {
        margin-top: $big_margin_m;

        @include responsive(pc-screens) {
            margin-top: $big_margin;
        }

        h3 {
            @include sub_h3;
        } 

        .notice_flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include responsive(pc-screens) {
                flex-direction: row;
            }

            &>div {
                width: 100%;
                margin-top: $mid_margin_m;

                &:first-child {
                    margin-top: 0;
                }
                
                @include responsive(pc-screens) {
                    width: 640px;
                    margin-top: 0;
                }

                .title {
                    em {
                        cursor: pointer;
                        position: relative;
                        @include type_custom(calc(0.8em + 0.8vw), $common_font);
                        font-style: normal;
                        font-weight: 400;
                        margin-left: 10px;

                        &::after {
                            @include title_border_2(100%, 2px, #bdbdbd, 0, 0);
                            padding-top: 5px;

                        }
                        

                        @include responsive(pc-screens) {
                            font-size: $semif;
                        }

                    }

                    img {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        width: 20px;

                        @include responsive(pc-screens) {

                        }
                    }
                }

                .accord {
                    padding: 20px;
                    background-color: rgba($color: #000066, $alpha: 0.1);

                    @include responsive(pc-screens) {
                        padding: 30px;
                    }

                    ul {

                        p{
                            @include type_custom(calc(0.5em + 1vw),$common_font);
                            margin-bottom: calc(0.5em + 0.5vw);
                            font-weight: 400;

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                                margin-bottom: 15px;
                            }
                        }
                        


                        li {
                            @include type_custom(calc(0.5em + 1vw),$common_font);
                            list-style: 'ㆍ' inside;
                            text-indent: -15px;
                            margin-bottom: calc(0.5em + 0.5vw);
                            line-height: calc(1em + 1vw);
                            text-align: justify;

                            @include responsive(pc-screens) {
                                text-indent: -20px;
                                font-size: $mainf;
                                margin-bottom: 10px;
                            }

                            
                        }
                    }
                
                }

                &:nth-child(2) {
                    li:first-child {
                        margin-top: calc(0.5em + 0.5vw);
                    }
                }
            }
        }
    } // notice

    .other_room {
        margin-top: $big_margin_m;
        margin-bottom: $footer_margin_m;
        width: 100%;
        overflow: hidden;
    
            @include responsive(pc-screens) {
                margin: 0 auto;
                margin-top: $big_margin;
                margin-bottom: $footer_margin_m;
            }
    
            h3 {
                @include sub_h3;
            } 

            .other_ent {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @include responsive(pc-screens) {
                    flex-direction: row;
                }

                div {

                    .img_box {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: calc(200px + 20vw);
                        margin: 0 auto $small_margin_m;

                        @include responsive(pc-screens) {
                            width: 450px;
                            height: 700px;
                        }

                        &::after {
                            @include video_matte;
                            content: '';
                            display: block;
                            background-color: #000;
                            opacity: 0;
                        }

                        &:hover {
                            &::after {
                                opacity: 0.5;
                                transition: all 0.5s;
                            }

                            .matte {
                                opacity: 1;
                                transition: all 0.5s;
                            }
                        }

                        &:hover {
                            img {
                                transform: scale(1.2);
                                transform-origin: center center;
                                transition: all 0.5s;
                            }
                        }
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit:cover;
    
                            &.other_m {
                                @include responsive(pc-screens) {
                                    display: none;
                                }
                            }
    
                            &.other {
                                display: none;
    
                                @include responsive(pc-screens) {
                                    display: block;
                                }
                            }

                            
                        }
                    }  //.img_box

                    .matte {
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        text-align: center;
                        z-index: 3;

                        @include responsive(pc-screens) {
                            transform: translate(-50%,0);
                            top: 250px;
                        }

                        h5 {
                            @include type_custom(calc(1em + 1vw),$eng_title_font);
                            
                            @include responsive(pc-screens) {
                                font-size: 1.5em;
                            }

                            &.red {
                                &::before {
                                    @include title_border(30px,3px,#b80000,5px);
                                }
                            }

                            &.navy {
                                &::before {
                                    @include title_border(30px,3px,#2a52be,5px);
                                }
                            }

                            &.gold {
                                &::before {
                                    @include title_border(30px,3px,#bd8400,5px);
                                }
                            }

                        }

                

                        ul {
                            margin-top:$small_margin_m;

                            

                            li {
                                margin-bottom: calc(0.5em + 0.5vw);

                                @include responsive(pc-screens) {
                                    margin-bottom: 10px;
                                }

                                a {
                                    color: white;
                                    @include type_custom(calc(0.8em + 0.5vw),$common_font);
                                    font-weight: 200;

                                    @include responsive(pc-screens) {
                                        font-size: $semif;
                                    }

                                    

                                    &:hover {
                                        animation: color_rep 1s infinite;
                                    }

                                }
                            }

                            @include color_rep_red;
                            @include color_rep_navy;
                            @include color_rep_gold;


                            &.red>li>a:hover {
                                animation: color_rep_red 1s infinite;
                            }

                            &.navy>li>a:hover {
                                animation: color_rep_navy 1s infinite;
                            }

                            &.gold>li>a:hover {
                                animation: color_rep_gold 1s infinite;
                            }
                        }
                    }

                    
                }

            }
        
    }

} //.main