@import "../../scss/style.scss";

@mixin color_rep_red {
    @keyframes color_rep_red {
        0% {
            color: #a40000;
        }
    
        25% {
            color: #ff0000;
        }
    
        50% {
            color: #ff5f5f;
        }
    
        75% {
            color: #ff0000;
        }
    
        100% {
            color: #a40000;
        }
    }
}


@mixin color_rep_gold {
    @keyframes color_rep_navy {
        0% {
            color: #2a52be;
        }
    
        25% {
            color: #0044ff;
        }
    
        50% {
            color: #5d88ff;
        }
    
        75% {
            color: #0044ff;
        }
    
        100% {
            color: #2a52be;
        }
    }
}

@mixin color_rep_navy {
    @keyframes color_rep_gold {
        0% {
            color: #bd8400;
        }
    
        25% {
            color: #cdb200;
        }
    
        50% {
            color: #ffef5a;
        }
    
        75% {
            color: #cdb200;
        }
    
        100% {
            color: #bd8400;
        }
    }
}
