section div.main0 {
  height: 100vh;
}

section div.main0 .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

section div.main0 .bg_img__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes img_size {
  from {
    transform: scale(1.2);
    transform-origin: center center;
  }
  to {
    transform: scale(1);
  }
}

section div.main0 .bg_img img {
  animation: img_size 10s;
}

@media screen and (min-width: 1400px) {
  section div.main0 .bg_img img {
    width: 100vw;
    height: 100vh;
  }
}

section div.main0 .bg_img .p_bg img {
  width: 100%;
  display: none;
}

@media screen and (min-width: 1400px) {
  section div.main0 .bg_img .p_bg img {
    display: block;
    width: 100%;
  }
}

section div.main0 .bg_img .m_bg img {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  section div.main0 .bg_img .m_bg img {
    display: none;
  }
}

section div.main0 .main0_contents {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section div.main0 .main0_contents h2 {
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
  letter-spacing: 2px;
  color: white;
  margin-bottom: calc(0.3em + 0.5vw);
}

@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents h2 {
    font-size: 5em;
    margin-bottom: 40px;
  }
}

section div.main0 .main0_contents h2::before {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 6px solid white;
  margin: 5px auto;
}

@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents h2::before {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 8px solid white;
    margin: 10px auto;
  }
}

section div.main0 .main0_contents button {
  width: 200px;
  background-color: transparent;
  border: 1px solid white;
  height: 50px;
  font-family: "SCoreDream";
  font-size: 1.2em;
  color: white;
  font-weight: 200;
}

@media screen and (min-width: 1400px) {
  section div.main0 .main0_contents button {
    width: 360px;
    height: 65px;
    font-size: 2em;
  }
}

section div.main0 .main0_contents button:hover {
  background-color: #fff;
  transition: all 0.5s;
  color: #333;
}

section div.main0 .colormatte {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: -1;
}

section div.main0 .mouse {
  position: absolute;
  left: 50%;
  bottom: 20px;
}

@keyframes move {
  from {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
  }
  to {
    bottom: 60px;
  }
}

@keyframes move_pc {
  from {
    bottom: 60px;
  }
  75% {
    bottom: 30px;
  }
  to {
    bottom: 30px;
  }
}

section div.main0 .mouse img {
  position: absolute;
  bottom: 40px;
  animation: move 2s infinite;
  transform: translateX(-50%);
}

@media screen and (min-width: 1400px) {
  section div.main0 .mouse img {
    animation: move_pc 2s infinite;
  }
}

section div.main0 .mouse p {
  transform: translateX(-50%);
  font-family: "LEMON MILK Light";
  letter-spacing: 1px;
  color: white;
}

section div.main0 .mouse .pc_mouse {
  display: none;
}

@media screen and (min-width: 1400px) {
  section div.main0 .mouse .pc_mouse {
    display: block;
  }
}

section div.main0 .mouse .mo_mouse img {
  opacity: 0.5;
}

@media screen and (min-width: 1400px) {
  section div.main0 .mouse .mo_mouse {
    display: none;
  }
}

main {
  background-size: cover;
  position: relative;
  padding-top: 85px;
  color: #fff;
  text-align: justify;
}

main .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

main .bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1400px) {
  main {
    text-align: justify;
    width: 100%;
  }
}

main h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
}

@media screen and (min-width: 1400px) {
  main h2 {
    font-size: 40px;
    width: 100%;
    text-align: justify;
  }
}

main h2::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 4px solid white;
  margin: 5px auto;
}

@media screen and (min-width: 1400px) {
  main h2::before {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 4px solid white;
    margin: 0 0 5px 5px;
  }
}

main section {
  padding-bottom: 135px;
}

@media screen and (min-width: 1400px) {
  main section {
    padding-bottom: 500px;
  }
}

@media screen and (min-width: 1400px) {
  main .section1-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 290px;
  }
}

@media screen and (min-width: 1400px) {
  main .section1-flex h2 {
    margin-right: 175px;
    width: 420px;
  }
}

main .section1-flex p {
  font-size: calc(16px + 0.5vw);
  line-height: calc(32px + 0.5vw);
}

@media screen and (min-width: 1400px) {
  main .section1-flex p {
    font-size: 24px;
    line-height: 48px;
    width: 880px;
  }
}

main .section2-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1400px) {
  main .section2-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.section-text {
    width: 420px;
  }
}

main .section2-flex div.section-text p {
  margin-bottom: 50px;
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.section-text p {
    font-size: 24px;
  }
}

main .section2-flex div.service-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.service-icon {
    width: 880px;
  }
}

main .section2-flex div.service-icon div {
  width: 17%;
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.service-icon div {
    text-align: center;
    width: 170px;
  }
}

main .section2-flex div.service-icon div a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: normal;
}

main .section2-flex div.service-icon div a:hover {
  font-weight: bold;
}

main .section2-flex div.service-icon div img {
  width: 70%;
  margin-left: 10px;
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.service-icon div img {
    width: 86px;
    margin-left: 0;
  }
}

main .section2-flex div.service-icon div p {
  font-size: calc(12px + 0.4vw);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
}

@media screen and (min-width: 1400px) {
  main .section2-flex div.service-icon div p {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}

main .map .section3-flex img {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  main .map .section3-flex img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1400px) {
  main .map .location {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
  }
}

main .map .location h3 {
  font-size: 26px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 12px;
}

@media screen and (min-width: 1400px) {
  main .map .location h3 {
    font-size: 36px;
  }
}

main .map .location .row {
  display: flex;
  float: right;
}

@media screen and (min-width: 1400px) {
  main .map .location .row {
    margin-top: 30px;
  }
}

main .map .location .row img {
  width: 28px;
  height: auto;
}

@media screen and (min-width: 1400px) {
  main .map .location .row img {
    width: 45px;
  }
}

main .map .location .row p {
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (min-width: 1400px) {
  main .map .location .row p {
    font-size: 26px;
  }
}

main .route {
  margin: 0;
}

@media screen and (min-width: 1400px) {
  main .route .section4-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

main .route .acordian-menu {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  main .route .acordian-menu {
    width: 1200px;
  }
}

main .route .acordian-menu li {
  list-style: none;
}

main .route .acordian-menu li:last-child {
  border-bottom: 1px solid #fff;
}

main .route .acordian-menu li a {
  display: flex;
  text-decoration: none;
  line-height: 40px;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #fff;
}

main .route .acordian-menu li a img {
  width: 30px;
  margin-right: 10px;
}

main .route .acordian-menu li .method {
  padding: 40px;
  color: #fff;
  text-align: justify;
  display: none;
}
