@import "../../../scss/style.scss";
@import "../../../scss/mixin.scss";

strong {
    font-weight: 400;
}


main {
    color: #333;
    .sec1 .maintext {
        margin-top: $mid_margin_m;        

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
        }

        p {
            text-align: center;
            @include type_custom(calc(8px + 2.5vw), $common_font);
            line-height: calc(2em + 2vw);
            font-weight: 200;
            margin-bottom: $mid_margin_m;

            @include responsive(pc-screens) {
                font-size: 48px;
                line-height: 96px;
                margin-bottom: $mid_margin;
            }

            .hidden-text {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
    }

    .sec2 {
        .sec2-img {
            img {
                width: 100%;
            }
        }        
    }

    // .sec2 {
    //     .slide_gallery {
    //         width: 100%;
    
    //         @include responsive(pc-screens) {
    //             margin: 0 auto;
    //             width: 680px;
    //         }
    //     }
    // }




    .sec3 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec4 { 
        background-color: #f6ebd8;

        .sec4-flex-box {
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    
        .sec4-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
                
        .sec4-flex-box .li-flex-box {
            display: flex;
            justify-content: space-between;
            
            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;


                // margin-bottom: 18px;
            }
            
            div {
                font-family: $eng_title_font;
                letter-spacing: 1px;
            }
        }
    }

    .sec5 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec6 {        
        .sec6-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
        
        .sec6-flex-box li {
            list-style: inside;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;
                // margin-bottom: 18px;
            }
        }
    }   

    .sec7 .maintext {
        margin-top: $mid_margin_m;        

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
        }

        p {
            text-align: center;
            @include type_custom(calc(8px + 2.5vw), $common_font);
            line-height: calc(2em + 2vw);
            font-weight: 200;
            margin-bottom: $mid_margin_m;

            @include responsive(pc-screens) {
                font-size: 48px;
                line-height: 96px;
                margin-bottom: $mid_margin;
            }

            .hidden-text {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
    }

    .sec7-1 {
        img {
            width: 100%;
        }
    }

    .sec8 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec9 { 
        background-color: #dfe5f5;

        .sec9-flex-box {
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    
        .sec9-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
                
        .sec9-flex-box .li-flex-box {
            display: flex;
            justify-content: space-between;
            
            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;


                // margin-bottom: 18px;
            }
            
            div {
                font-family: $eng_title_font;
                letter-spacing: 1px;
            }
        }
    }

    .sec10 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec11 {        
        .sec11-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
        
        .sec11-flex-box li {
            list-style: inside;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;
                // margin-bottom: 18px;
            }
        }
    }

    .sec12 .maintext {
        margin-top: $mid_margin_m;        

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
        }

        p {
            text-align: center;
            @include type_custom(calc(8px + 2.5vw), $common_font);
            line-height: calc(2em + 2vw);
            font-weight: 200;
            margin-bottom: $mid_margin_m;

            @include responsive(pc-screens) {
                font-size: 48px;
                line-height: 96px;
                margin-bottom: $mid_margin;
            }

            .hidden-text {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }
        }
    }

    .sec12-1 {
        img {
            width: 100%;
        }
    }

    .sec13 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec14 { 
        background-color: #eeeeee;

        .sec14-flex-box {
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    
        .sec14-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
                
        .sec14-flex-box .li-flex-box {
            display: flex;
            justify-content: space-between;
            
            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;


                // margin-bottom: 18px;
            }
            
            div {
                font-family: $eng_title_font;
                letter-spacing: 1px;
            }
        }
    }

    .sec15 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }

    .sec16 {
        margin-bottom: $footer_margin_m;

        @include responsive(pc-screens) {
            margin-bottom: $footer_margin;
        }
        
        .sec16-flex-box ul {
            line-height: 50px;
    
            @include responsive(pc-screens) {
                width: 100%;
            }
        }
        
        .sec16-flex-box li {
            list-style: inside;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);
                // margin-bottom: calc(0.3em + 0.3vw);

            @include responsive(pc-screens) {
                font-size: $mainf;
                // margin-bottom: 18px;
            }
        }
    }
} //.main
