main {
  color: #333;
}

main .sec1 .container {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container {
    display: flex;
    margin-top: 125px;
  }
}

main .sec1 .container .flex-box {
  background-color: rgba(184, 0, 0, 0.05);
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box {
    width: 50%;
    margin-bottom: 0;
  }
}

main .sec1 .container .flex-box .flex-box1 {
  display: flex;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 {
    justify-content: space-around;
  }
}

main .sec1 .container .flex-box .flex-box1 .info {
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .info {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec1 .container .flex-box .flex-box1 .detail {
  margin-left: 50px;
  line-height: 50px;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .detail {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec1 .container .flex-box .menu-flex-box {
  display: flex;
  justify-content: center;
}

main .sec1 .container .flex-box .menu-flex-box .menu {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #eeb6b6;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu {
    margin-top: 10px;
  }
}

main .sec1 .container .flex-box .menu-flex-box .menu a {
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu a {
    font-size: 18px;
  }
}

main .sec1 .container .sec1-img {
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img {
    width: 50%;
    margin-bottom: 0;
  }
}

main .sec1 .container .sec1-img img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img img {
    width: 100%;
  }
}

main .sec2 {
  margin-bottom: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec2 {
    margin-bottom: 125px;
  }
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box {
    display: flex;
    flex-direction: row-reverse;
  }
}

main .sec2 .sec2-flex-box ul {
  width: 100%;
  background-color: rgba(184, 0, 0, 0.05);
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box ul {
    width: 50%;
    text-align: left;
    margin-bottom: 0;
    padding-left: 80px;
    padding-top: 110px;
  }
}

main .sec2 .sec2-flex-box .notice {
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box .notice {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec2 .sec2-flex-box li {
  list-style: inside;
  line-height: 50px;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box li {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec2 .hover-img {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  main .sec2 .hover-img {
    width: 50%;
  }
}

main .sec2 .hover-img img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec2 .hover-img img {
    width: 100%;
  }
}

main .sec2 .hover-img {
  position: relative;
}

main .sec2 .hover-img p {
  color: black;
  text-align: center;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: "SCoreDream";
  font-size: calc(1em + 1vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .hover-img p {
    font-size: 2em;
  }
}

main .sec2 .hover-img p strong {
  font-family: "LEMON MILK Light";
  letter-spacing: 2px;
}

main .sec2 .hover-img p a {
  font-family: "LEMON MILK Light";
  color: #333333;
  font-size: 24px;
}

main .sec2 .hover-img p a:hover {
  text-decoration: none;
  color: #b80000;
  transition: all 0.5s;
}

main .sec3 {
  margin-top: 65px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec3 {
    margin-top: 125px;
    margin-bottom: 50px;
  }
}

main .sec3 .main-text h4 {
  font-family: "LEMON MILK Light";
  font-size: calc(0.5em + 3vw);
  margin-bottom: calc(0.5em + 2vw);
  text-align: center;
  letter-spacing: 2px;
}

@media screen and (min-width: 1400px) {
  main .sec3 .main-text h4 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

main .sec3 .main-text h4::before {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3px solid #333;
  margin: 8px auto;
}

@media screen and (min-width: 1400px) {
  main .sec3 .main-text h4::before {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 4px solid #333;
    margin: 10px auto;
  }
}

@media screen and (min-width: 1400px) {
  main .sec4 {
    display: flex;
  }
}

main .sec4 .hover1 img,
main .sec4 .hover2 img {
  width: 100%;
  display: block;
}

main .sec4 .hover1,
main .sec4 .hover2 {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1400px) {
  main .sec4 .hover1,
  main .sec4 .hover2 {
    width: 50%;
  }
}

main .sec4 .hover1 p,
main .sec4 .hover2 p {
  color: #333333;
  font-weight: 300;
  padding-left: 20px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: "SCoreDream";
  font-size: calc(0.7em + 1vw);
}

@media screen and (min-width: 1400px) {
  main .sec4 .hover1 p,
  main .sec4 .hover2 p {
    font-size: 2em;
    padding-left: 100px;
    line-height: 70px;
  }
}

main .sec4 .hover1 {
  margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
  main .sec4 .hover1 {
    margin-bottom: 200px;
  }
}

main .sec4 .hover2 {
  margin-bottom: 100px;
}

@media screen and (min-width: 1400px) {
  main .sec4 .hover2 {
    margin-bottom: 200px;
  }
}
