@import "../../../scss/style.scss";
@import "../../../scss/mixin.scss";
@import "./mixin.scss";

.no {
    display: none;
}

//header


//header


header{
    // display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header_entire{
        display: flex;
        justify-content: space-between;
        width: 89.74358974358974%;
        margin: 0 auto;
        
        @include responsive(pc-screens) {
            width: 93.75%;
            
        }
    
        .header_logo {
            width: 126px;
    
    
            @include responsive(pc-screens){
                width: 200px;
            }
    
            img {
                width: 126px;
                height: auto;
                margin-top: 15px;
    
                @include responsive(pc-screens){
                    width: 200px;
                    margin-top: 20px;
                }
            }
        }
    
        .menu{
            cursor: pointer;
            width: 70px;
            display: flex;
            justify-content: space-between;
            color: #fff; // 공통된 요소 변경
            align-items: center;
            text-align: right;
            margin-top: 5px;
    
            @include responsive(pc-screens){
                width: 80px;
                color: $base_color_dark; // 공통된 요소 변경
            }
            
            .menu_bar {
                width: 33%;
                display:block;
                width: 16px;
                height: 13px;
                cursor:pointer;
                position:relative;

                span {
                    display:block;
                    height:0.5px;
                    width:100%;
                    background: #fff; // 공통된 요소 변경
                    position:absolute;
                    right: 0;

                    @include responsive(pc-screens){
                        background: $base_color_dark; // 공통된 요소 변경
                    }

        
                    &:nth-child(1) {
                        top:0;
                    }
        
                    &:nth-child(2) {
                        top:50%;
                        transform:translateY(50%);
                        width: 80%;
                    }
        
                    &:nth-child(3) {
                        bottom:0;
                    }

                    
                } //sapn
            } //menu_bar
        
            .menu_type{                
                p{
                    font-family: $eng_title_font, sans-serif;
                    font-size: 16px;
            
                    @include responsive(pc-screens){
                        font-size: 19.2px;
                    }
                    
                }
            } //.menu_type
        
            
        } //.menu
    }
    
}

section div.main0 {
    // background-size: cover;
    height: 100vh;

        .bg_img {
            @include video_matte;
            z-index: -1;
            overflow: hidden;
        
            &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;  
            }

            @keyframes img_size {
                from{
                    transform: scale(1.2);
                    transform-origin: center center;
                }

                to{
                    transform: scale(1);
                }
            }

            img {
                animation: img_size 10s;

                @include responsive(pc-screens) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .main0_contents {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);
                letter-spacing: 2px;
                color: white;
                margin-bottom: calc(0.3em + 0.5vw);

                @include responsive(pc-screens) {
                    font-size: 5em;
                    margin-bottom: 40px;
                }

                &::before {
                    @include title_border(40px, 6px, white, 5px);

                    @include responsive(pc-screens) {
                        @include title_border(80px, 8px, white, 10px)
                    }
                }
            }
    
            button {
                // display: none; //버튼이 없는 경우 제거
                width: 200px;
                background-color: transparent;
                border: 1px solid white;
                height: 50px;
                @include type_custom(1.2em, $common_font);
                color: white;
                font-weight: 200;


                @include responsive(pc-screens) {
                    width: 360px;
                    height: 65px;
                    font-size: 2em;
                }

                &:hover {
                    background-color: #fff;
                    transition: all 0.5s;
                    color: #333;
                }
            }

        }

        .colormatte {
            @include video_matte;
            background-color: black;
            opacity: 0.1;
            z-index: -1;
        }

        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;

            @keyframes move {
                from{
                    bottom: 30px;
                }

                75%{
                    bottom: 60px;
                } 
    
                to{
                    bottom: 60px;
                }
            }

            @keyframes move_pc {
                from{
                    bottom: 60px;
                }

                75%{
                    bottom: 30px;
                } 
    
                to{
                    bottom: 30px;
                }
            }

            img {
                position: absolute;
                bottom: 40px;
                animation: move 2s infinite;
                transform: translateX(-50%);

                @include responsive(pc-screens) {
                    animation: move_pc 2s infinite;
                }
            }

            p{
                transform: translateX(-50%);
                font: {
                    family: $eng_title_font;
                }
                letter-spacing: 1px;
                color: white;
            }

            .pc_mouse {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .mo_mouse {
                img {
                    opacity: 0.5;
                }

                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }
} // section

main {
    position: relative;
    background-color: $base_color_light;
    height: 100%;

    @include responsive(pc-screens) {
        min-width: 100vw;
        min-height: 100vh;
        height: fit-content;
    }

    .bighead {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include responsive(pc-screens) {
            flex-direction: row;

        }

        .image_area {
            position: relative;
            width: 100%;
            height: calc(200px + 20vw);

            @include responsive(pc-screens) {
                width: 34.89583333333333%;
                height: auto;
                min-height: 100vh;
                margin: 0 auto;

            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include responsive(pc-screens) {
                    min-height: 100vh;

                }
            }

            .titlearea {
                position: absolute;
                bottom: -5%;
                right: 3%;

                @include responsive(pc-screens) {
                    top: -50px;
                    right: 32px;
                    bottom: 0;
                    
                }

                h1 {
                    @include type_custom(calc(2em + 3vw), $eng_title_font);
                    color: $base_color_light;
                    letter-spacing: 2px;
                    margin-right: 20px;
                    opacity: 0.8;

                    @include responsive(pc-screens) {
                        font-size: 5em;
                        transform-origin: center right;
                        transform: rotateZ(-90deg);
                        margin: 0;
                    
                    }
                }
            }
        }

        .contents_area {
            width: 100%;
            color: $base_color_dark;
            max-width: 600px;
            margin: 0 auto;

    
            @include responsive(pc-screens) {
                width: 65.10416666666667%;
                max-width: none;
            }

            .my_flex {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                margin-top: $small_margin_m;
                justify-content: space-around;

                @include responsive(pc-screens) {
                    width: 90%;
                    max-width: 1300px;
                    flex-direction: row;
                    margin-left: 50px;
                }

                .my_left {
                    @include mypage_h4;
                    width: 100%;

                    @include responsive(pc-screens) {
                        width: 400px;
                    }

                    .profile {
                        .profile_flex {
                            @include mypage_margin;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            @include responsive(pc-screens) {
                                flex-direction: row;
                                justify-content:start;

                            }


                            .profile_photo {
                                position: relative;
                                width: calc(120px + 20vw);
                                margin: 0 auto;

                                @include responsive(pc-screens) {
                                    margin: 0 0;
                                    width: 180px;
                                    height: 180px;
                                    margin-right: 20px;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    display: block;

                                    @include responsive(pc-screens) {
                                        //
                                    }
                                }

                                &::after {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    display: block;
                                    content: "프로필 수정";
                                    @include type_custom(calc(14px + 2vw), $common_font);
                                    background-color: rgba($color: #333333, $alpha: 0.5);
                                    width: 100%;
                                    height: 100%;
                                    line-height: calc(120px + 20vw);
                                    text-align: center;
                                    color: white;
                                    opacity: 0;

                                    @include responsive(pc-screens) {
                                        @include type_custom($mainf, $common_font);
                                        line-height: 180px;
                                    }
                                }

                                &:hover::after {
                                    opacity: 1;
                                    transition: all 0.5s;

                                    @include responsive(pc-screens) {
                                        //
                                    }
                                }
                            } //.profile_photo

                            .profile_info {

                                ul {
                                    display: flex;
                                    flex-direction: row;
                                    width: 100%;
                                    flex-wrap: wrap;
                                    margin-top: calc(20px + 0.5vw);
                                    

                                    @include responsive(pc-screens) {
                                        flex-direction: column;
                                        margin-top: 0;
                                    }

                                    li {
                                        width: 50%;
                                        margin-bottom: calc(5px + 2vw);


                                        @include responsive(pc-screens) {
                                            width: 100%;
                                            margin-bottom: 15px;
                                        }

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        em {
                                            font-style: normal;
                                            @include type_custom(calc(14px + 0.5vw), $eng_title_font);
                                            letter-spacing: 1px;

                                            @include responsive(pc-screens) {
                                                font-size: 16px;
                                            }
                                        }

                                        p {
                                            @include type_custom(calc(12px + 0.5vw), $common_font);
                                            margin-top: calc(2px + 0.2vw);

                                            @include responsive(pc-screens) {
                                                font-size: 14px;
                                                margin-top: 3px;
                                            }
                                        }
                                    }
                                }
                            }


                        }                   
                    } //.profile

                    .my_book {
                        margin-top: $mid_margin_m;

                        @include responsive(pc-screens) {
                            margin-top: 50px;
                        }

                        .book_res {
                            margin-top: 25px;
                            width: 100%;
                            height: calc(180px + 10vw);
                            // overflow: scroll;
                            background-color: rgba(66,45,19,0.17);
                            text-align: center;
                            padding: 15px;


                            &::-webkit-scrollbar {
                                width: 8px;
                            }
                        
                            &::-webkit-scrollbar-thumb {
                                background-color: rgba($color: $base_color_dark, $alpha: 0.8);
                                border-radius: 8px;
                            }
                        
                            &::-webkit-scrollbar-track {
                                border-radius: 8px;
                            }

                            @include responsive(pc-screens) {
                                margin-top: 25px;
                                height: 200px;
                            }

                            p {
                                @include type_custom(calc(12px + 0.5vw), $common_font);

                                @include responsive(pc-screens) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .my_manage {
                        margin-top: $mid_margin_m;
                        margin-bottom: 100px;

                        @include responsive(pc-screens) {
                            margin-top: 50px;
                            margin-bottom: 100px;
                        }

                        ul {
                            @include mypage_margin;
                            width: 100%;
                            display: flex;
                            text-align: center;
                            justify-content: space-between;

                            li {
                                width: 30%;
                                height: auto;
                                display: block;
                                background-color: rgba($color: #422d14, $alpha: 0.1);
                                cursor: pointer;

                                &:hover {
                                    background-color: rgba($color: #422d14, $alpha: 0.35);
                                    transition: all 1s;
                                }

                                &:last-child {
                                    background-color: rgba($color: #b71a1a, $alpha: 0.15);
                                    z-index: 30;

                                    &:hover {
                                        background-color: rgba($color: #b71a1a, $alpha: 0.35);
                                        transition: all 1s;
                                    }
                                }
                                

                                @include responsive(pc-screens) {
                                    width: 120px;
                                    height: 120px;
                                }

                                img {

                                    width: 40%;
                                    margin-top: 10%;

                                    @include responsive(pc-screens) {
                                        margin-top: 20px;
                                        width: 45px;
                                    }

                                }

                                p {
                                    @include type_custom(calc(10px + 0.5vw), $common_font);
                                    font-weight: 400;
                                    margin-bottom: 10%;
                                    margin-top: 10px;

                                    @include responsive(pc-screens) {
                                        font-size: 16px;
                                        margin-bottom: 0;
                                        margin-top: 15px;
                                    }
                                }  
                            } //li
                            
                        } //ul

                    } //.my_manage


                    


                } //.my_left

                .my_right {
                    display: none;
                    margin-left: 100px;
                    margin-top: 50px;
                    width: 400px;

                    @include responsive(pc-screens) {
                        display: block;
                    }

                    p.quote {
                        // background-color: red;
                        @include type_custom(16px, $common_font);
                        line-height: 3em;

                        em {
                            font: {
                                style: normal;
                                size: 2em;
                                weight: 400;
                            }
                        }

                        span {
                            font: {
                                style: normal;
                                size: 1.4em;
                                weight: 300;
                            }
                        }

                        q {
                            display: block;
                            text-align: right;
                            letter-spacing: 1px;
                            font: {
                                size: 1em;
                                style: normal;
                                family: $eng_title_font;
                            }
                        }
                    } //p.quote
                } //.my_right

            } //.my_flex

            .back_logo {
                display: none;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 30%;
                
                
    
                @include responsive(pc-screens) {
                    display: block;
                    opacity: 0.2;

                    img {
                        width: 100%;
                        display: block;
                    }
                    
                }
            }
            
        } //.contents_area

        
    } //big.head

    .mypage_modal {

        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 31;
        // transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.5);

        &::-webkit-scrollbar {
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color: #8a714b, $alpha: 0.8);
            border-radius: 8px;
        }
    
        &::-webkit-scrollbar-track {
            border-radius: 8px;
        }

        .login_sec {
            transform: translateY(100px);
            color: $base_color_dark;
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            background-color: $base_color_light;
            padding: 0 20px;
            

            @include responsive(pc-screens) {
                transform: translateY(50px);
                width: 480px;
                height: 758px;
                background: url(../img/My_Page/icon/modal_back.png) no-repeat;
                padding: 0 30px;
            }

            .login_logo {
                text-align: center;
                padding-top: 30px;

                @include responsive(pc-screens) {
                    padding-top: 70px;
                }

                img {
                    width: calc(80px + 10vw);
                    max-width: 240px;

                    @include responsive(pc-screens) {
                        width: 180px;
                    }
                }
            }

            .dive_sec {
                @include mypage_margin;


                .pw_modify {
                    @include mypage_h4;

                    ul.modifying_pw {
                        li {
                            @include mypage_modal_li;

                            &.phone_phone {
                                position: relative;

                                div.aconf_btn {
                                    cursor: pointer;
                                    position: absolute;
                                    right: 0px;
                                    bottom: 8px;
                                    width: 80px;
                                    height: 16px;
                                    line-height: 16px;
                                    text-align: center;
                                    background-color: #e6e2d3;
                                    @include type_custom(12px, $common_font);
                                    @include responsive(pc-screens) {
                                        font-size: 12px;
                                    }

                                }
                            }
                        } //li
                    } //ul.form_form

    
                    .btn_grp {
                        @include modal_btngrp_margin;
                        padding-bottom: 0;
                        margin-top: 0;

                        @include responsive(pc-screens) {
                            margin-top: 20px;
                        }


        
                        &.modify button {
                            @include modal_dark_button;
                            margin-top: $small_margin_m;

                            @include responsive(pc-screens) {
                                margin-top: 20px;
                            }

                        }

                        &.back button {
                            @include modal_light_button;
                            margin-top: $small_margin_m;
                            margin-bottom: 100px;

                            @include responsive(pc-screens) {
                                margin-top: 0;
                            }
                            
                        }

                    }
                } //pw_find 

            } //.dive_sec
        } //login_sec
    }


    

} //.main

