@import "../../../scss/style.scss";
@import "../../../scss/mixin.scss";
@import "./mixin.scss";

.no {
    display: none;
}
//header


header{
    // display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .header_entire{
        display: flex;
        justify-content: space-between;
        width: 89.74358974358974%;
        margin: 0 auto;
        
        @include responsive(pc-screens) {
            width: 93.75%;
            
        }
    
        .header_logo {
            width: 126px;
    
    
            @include responsive(pc-screens){
                width: 200px;
            }
    
            img {
                width: 126px;
                height: auto;
                margin-top: 15px;
    
                @include responsive(pc-screens){
                    width: 200px;
                    margin-top: 20px;
                }
            }
        }
    
        .menu{
            width: 70px;
            display: flex;
            justify-content: space-between;
            color: #fff; // 공통된 요소 변경
            align-items: center;
            text-align: right;
            margin-top: 5px;
            cursor: pointer;
    
            @include responsive(pc-screens){
                width: 80px;
                color: $base_color_dark; // 공통된 요소 변경
            }
            
            .menu_bar {
                width: 33%;
                display:block;
                width: 16px;
                height: 13px;
                cursor:pointer;
                position:relative;

                span {
                    display:block;
                    height:0.5px;
                    width:100%;
                    background: #fff; // 공통된 요소 변경
                    position:absolute;
                    right: 0;

                    @include responsive(pc-screens){
                        background: $base_color_dark; // 공통된 요소 변경
                    }

        
                    &:nth-child(1) {
                        top:0;
                    }
        
                    &:nth-child(2) {
                        top:50%;
                        transform:translateY(50%);
                        width: 80%;
                    }
        
                    &:nth-child(3) {
                        bottom:0;
                    }

                    
                } //sapn
            } //menu_bar
        
            .menu_type{                
                p{
                    font-family: $eng_title_font, sans-serif;
                    font-size: 16px;
            
                    @include responsive(pc-screens){
                        font-size: 19.2px;
                    }
                    
                }
            } //.menu_type
        
            
        } //.menu
    }
    
}

section div.main0 {
    // background-size: cover;
    height: 100vh;

        .bg_img {
            @include video_matte;
            z-index: -1;
            overflow: hidden;
        
            &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;  
            }

            @keyframes img_size {
                from{
                    transform: scale(1.2);
                    transform-origin: center center;
                }

                to{
                    transform: scale(1);
                }
            }

            img {
                animation: img_size 10s;

                @include responsive(pc-screens) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .main0_contents {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);
                letter-spacing: 2px;
                color: white;
                margin-bottom: calc(0.3em + 0.5vw);

                @include responsive(pc-screens) {
                    font-size: 5em;
                    margin-bottom: 40px;
                }

                &::before {
                    @include title_border(40px, 6px, white, 5px);

                    @include responsive(pc-screens) {
                        @include title_border(80px, 8px, white, 10px)
                    }
                }
            }
    
            button {
                // display: none; //버튼이 없는 경우 제거
                width: 200px;
                background-color: transparent;
                border: 1px solid white;
                height: 50px;
                @include type_custom(1.2em, $common_font);
                color: white;
                font-weight: 200;


                @include responsive(pc-screens) {
                    width: 360px;
                    height: 65px;
                    font-size: 2em;
                }

                &:hover {
                    background-color: #fff;
                    transition: all 0.5s;
                    color: #333;
                }
            }

        }

        .colormatte {
            @include video_matte;
            background-color: black;
            opacity: 0.1;
            z-index: -1;
        }

        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;

            @keyframes move {
                from{
                    bottom: 30px;
                }

                75%{
                    bottom: 60px;
                } 
    
                to{
                    bottom: 60px;
                }
            }

            @keyframes move_pc {
                from{
                    bottom: 60px;
                }

                75%{
                    bottom: 30px;
                } 
    
                to{
                    bottom: 30px;
                }
            }

            img {
                position: absolute;
                bottom: 40px;
                animation: move 2s infinite;
                transform: translateX(-50%);

                @include responsive(pc-screens) {
                    animation: move_pc 2s infinite;
                }
            }

            p{
                transform: translateX(-50%);
                font: {
                    family: $eng_title_font;
                }
                letter-spacing: 1px;
                color: white;
            }

            .pc_mouse {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .mo_mouse {
                img {
                    opacity: 0.5;
                }

                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }
} // section

main {
    position: relative;
    background-color: $base_color_light;
    height: 100%;

    @include responsive(pc-screens) {
        min-width: 100vw;
        min-height: 100vh;
        height: fit-content;
    }

    .bighead {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include responsive(pc-screens) {
            flex-direction: row;

        }

        .image_area {
            position: relative;
            width: 100%;
            height: calc(200px + 20vw);

            @include responsive(pc-screens) {
                width: 34.89583333333333%;
                height: auto;
                min-height: 100vh;
                margin: 0 auto;

            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include responsive(pc-screens) {
                    min-height: 100vh;

                }
            }

            .titlearea {
                position: absolute;
                bottom: -5%;
                right: 3%;

                @include responsive(pc-screens) {
                    top: -20px;
                    right: 25px;
                    bottom: 0;
                    
                }

                h1 {
                    @include type_custom(calc(2em + 3vw), $eng_title_font);
                    color: $base_color_light;
                    letter-spacing: 2px;
                    margin-right: 20px;
                    opacity: 0.8;

                    @include responsive(pc-screens) {
                        font-size: 3.5em;
                        transform-origin: center right;
                        transform: rotateZ(-90deg);
                        margin: 0;
                    
                    }
                }
            }
        }

        .contents_area {
            width: 100%;
            color: $base_color_dark;
            max-width: 600px;
            margin: 0 auto;

    
            @include responsive(pc-screens) {
                width: 65.10416666666667%;
                max-width: none;
            }

            .info_flex {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                margin-top: $small_margin_m;
                justify-content: space-around;

                @include responsive(pc-screens) {
                    width: 90%;
                    max-width: 1300px;
                    flex-direction: row;
                    margin-left: 50px;
                    margin-top: $small_margin;
                }

                .info_left {
                    width: 100%;
                    @include info_h4;

                    @include responsive(pc-screens) {
                        width: 400px;
                    }

                    form {

                        ul.info_up_form {
                            li {
                                @include info_li;

                                p {
                                    @include type_custom(calc(12px + 0.5vw), $common_font);
                                    font-weight: 300;
                                    margin-top: 5px;

                                    @include responsive(pc-screens) {
                                        font-size: 14px;
                                    }
                                }

                                &.phone_phone {
                                    position: relative; 

                                    div.aconf_btn {
                                        cursor: pointer;
                                        position: absolute;
                                        right: 0px;
                                        bottom: 8px;
                                        width: 80px;
                                        height: 16px;
                                        line-height: 16px;
                                        text-align: center;
                                        background-color: #e6e2d3;
                                        @include type_custom(12px, $common_font);
                                        @include responsive(pc-screens) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.email_email {
                                    

                                    .email_flex {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: baseline;
                                        input {
                                            width: 60%;

                                            @include responsive(pc-screens) {
                                                width: 180px;
                                            }
                                        }
    
                                        p {    
                                            @include type_custom(calc(0.8em + 0.5vw), $common_font);

                                            @include responsive(pc-screens) {
                                                font-size: $mainf;
                                            }
                                        }
    
                                        select {
                                            width: 30%;
                                            @include type_custom(calc(0.5em + 0.5vw), $common_font);
                                            background-color: transparent;
                                            border: none;
                                            outline: none;

                                            @include responsive(pc-screens) {
                                                font-size: 14px;
                                                width: 120px;
                                            }

                                            option {
                                                @include type_custom(calc(0.8em + 0.5vw), $common_font);
                                                background-color: $base_color_light;
                                                color: $base_color_dark;
                                                border-style: none;

                                                @include responsive(pc-screens) {
                                                    font-size: 14px;
                                                }

                                            }
                                            
                                        }
                                    }
                                    
                                }

                            } //li
                        } //ul

                        .check_box {
                            margin-top: calc(5px + 1vw);
                            @include responsive(pc-screens) {
                                margin-top: 14px;
                            }
    
                            .check_flex {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
    
                                label {
                                    display: block;
                                    @include type_custom(calc(0.6em + 0.3vw), $common_font);
                                    font-weight: 400;
    
                                    @include responsive(pc-screens) {
                                        font-size: 14px;
                                    }
                                }
    
                                label#all_check {
                                    font-size: calc(0.8em + 0.3vw);
    
                                    @include responsive(pc-screens) {
                                        font-size: 16px;
                                    }
                                }
    
                                input {
                                    display: none;
    
                                    & + label {
                                        display: inline-block;
                                        width: 14px;
                                        height: 14px;
                                        border: 1px solid $base_color_dark;
                                        border-radius: 20%;
                                        cursor: pointer;
    
                                        @include responsive(pc-screens) {
                                            //
                                        }
                                    }
    
                                    &:checked + label {
                                        background-color: $base_color_dark;
    
                                        @include responsive(pc-screens) {
                                            //
                                        }
                                    }
                                } //input
    
                            } //.check_flex
    
                            .info_up_box {
                                margin-top: 5px;
                                background-color: rgba(66,45,19,0.17);
                                padding: calc(10px + 1vw);
                                height: 100px;
                                overflow: overlay;
    
                                &::-webkit-scrollbar {
                                    width: 8px;
                                }
                            
                                &::-webkit-scrollbar-thumb {
                                    background-color: rgba($color: $base_color_dark, $alpha: 0.8);
                                    border-radius: 8px;
                                }
                            
                                &::-webkit-scrollbar-track {
                                    border-radius: 8px;
                                }
                            
    
                                @include responsive(pc-screens) {
                                    padding: 15px;
                                }
    
                                p {
                                    @include type_custom(calc(0.6em + 0.4vw), $common_font);
                                    line-height: calc(1.5em + 0.3vw);
                                    text-align: justify;
    
                                    @include responsive(pc-screens) {
                                        font-size: 14px;
                                        line-height: 28px;
                                    }
                                }
                            }
    
                            
                            
                        } //.check_box

                        .btn_entire {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 100px;

                            @include responsive(pc-screens) {
                                flex-direction: row;
                                justify-content: space-between;

                            }

                            .btn_grp {
                                @include info_btngrp_margin;
                                padding-bottom: 0;
                                margin-top: 0;
                                
        
                                @include responsive(pc-screens) {
                                    margin-top: 20px;
                                    display: flex;
                                    justify-content: space-between;
                                }
        
        
                
                                &.modify button {
                                    @include info_dark_button;
                                    margin-top: $small_margin_m;
        
                                    @include responsive(pc-screens) {
                                        margin-top: 0;
                                    }
        
                                }
        
                                &.back button {
                                    @include info_light_button;
                                    margin-top: $small_margin_m;
        
                                    @include responsive(pc-screens) {
                                        margin-top: 0;
                                    }
                                    
                                }
        
                            }
                        }

                        

                        

                    } //form

                }

                .info_right {
                    display: none;
                    margin-left: 100px;
                    margin-top: 50px;
                    width: 480px;

                    @include responsive(pc-screens) {
                        display: block;
                    }

                    p.quote {
                        // background-color: red;
                        @include type_custom(16px, $common_font);
                        line-height: 3em;

                        em {
                            font: {
                                style: normal;
                                size: 2em;
                                weight: 400;
                            }
                        }

                        span {
                            font: {
                                style: normal;
                                size: 1.4em;
                                weight: 300;
                            }
                        }

                        q {
                            display: block;
                            text-align: right;
                            letter-spacing: 1px;
                            font: {
                                size: 1em;
                                style: normal;
                                family: $eng_title_font;
                            }
                        }
                    } //p.quote
                } //.info_right

            } //.info_flex
            .back_logo {
                display: none;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 30%;
                
    
                @include responsive(pc-screens) {
                    display: block;
                    opacity: 0.2;

                    img {
                        width: 100%;
                        display: block;
                    }
                    
                }
            }
        } //.contents_area

        
    } //big.head


    

} //.main
