@import "../../scss/style.scss";
@import "../../scss/mixin.scss";

//header


//header

section div.main0 {
    // background-size: cover;
    height: 100vh;

        .bg_img {
            @include video_matte;
            z-index: -1;
            overflow: hidden;
        
            &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;  
            }

            @keyframes img_size {
                from{
                    transform: scale(1.2);
                    transform-origin: center center;
                }

                to{
                    transform: scale(1);
                }
            }

            img {
                animation: img_size 10s;

                @include responsive(pc-screens) {
                    width: 100vw;
                    height:100vh;
                }
            }
            .p_bg {
                img {
                    width: 100%;
                    display: none;
        
                    @include responsive(pc-screens){
                        display: block;
                        width: 100%;
                    }
                }
            }
        
            .m_bg {
                img {
                    width: 100%;
        
                    @include responsive(pc-screens){
                        display: none;
                    }
                }
            }
        }

        .main0_contents {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);
                letter-spacing: 2px;
                color: white;
                margin-bottom: calc(0.3em + 0.5vw);

                @include responsive(pc-screens) {
                    font-size: 5em;
                    margin-bottom: 40px;
                }

                &::before {
                    @include title_border(40px, 6px, white, 5px);

                    @include responsive(pc-screens) {
                        @include title_border(80px, 8px, white, 10px)
                    }
                }
            }
    
            button {
                width: 200px;
                background-color: transparent;
                border: 1px solid white;
                height: 50px;
                @include type_custom(1.2em, $common_font);
                color: white;
                font-weight: 200;


                @include responsive(pc-screens) {
                    width: 360px;
                    height: 65px;
                    font-size: 2em;
                }

                &:hover {
                    background-color: #fff;
                    transition: all 0.5s;
                    color: #333;
                }
            }

        }

        .colormatte {
            @include video_matte;
            background-color: black;
            opacity: 0.1;
            z-index: -1;
        }

        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;

            @keyframes move {
                from{
                    bottom: 30px;
                }

                75%{
                    bottom: 60px;
                } 
    
                to{
                    bottom: 60px;
                }
            }

            @keyframes move_pc {
                from{
                    bottom: 60px;
                }

                75%{
                    bottom: 30px;
                } 
    
                to{
                    bottom: 30px;
                }
            }

            img {
                position: absolute;
                bottom: 40px;
                animation: move 2s infinite;
                transform: translateX(-50%);

                @include responsive(pc-screens) {
                    animation: move_pc 2s infinite;
                }
            }

            p{
                transform: translateX(-50%);
                font: {
                    family: $eng_title_font;
                }
                letter-spacing: 1px;
                color: white;
            }

            .pc_mouse {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .mo_mouse {
                img {
                    opacity: 0.5;
                }

                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }
} // section

main {
    color: #333;
    
    .gnb {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        z-index: 1;
        background-color: #f7f7f7;
        padding-bottom: 20px;
        margin: 0 auto;

        @include responsive(pc-screens) {
            width: 48%;
            flex-direction: row;
            background-color: transparent;
            text-align: center;
        }

        li {
            padding-top: 20px;

            @include responsive(pc-screens) {
                padding: 60px 0;
            }

            &:last-child {
                a {
                    @include responsive(pc-screens) {
                        border-right: 0;
                    }
                }
            }

            a {
                color: #bdbdbd;

                @include responsive(pc-screens) {
                    border-right: 2px solid #bdbdbd;
                    padding-right: 100px;
                    padding-left: 100px;
                }

                &:hover {
                    color: black;
                    font-weight: bolder;
                }
            }
        }

    } // gnb

    section {
        h2 {
            font-size: 40px;
            text-align: center;
            margin-top: 70px;
            margin-bottom: 85px;
            //영문제목
            @include sub_h3;

        }
        h3 {
            @include type_custom(calc(18px + 0.5vw), $common_font);
            margin-bottom: 30px;
            font-weight: 400;



            &::before {
                @include title_border_2(30px, 3px, #333, 5px, 5px)
            }

            @include responsive(pc-screens) {
                @include type_custom($regularf_title, $common_font);
                    margin-bottom: 30px;
                    font-weight: 400;

                    &::before {
                        @include title_border_2(40px, 3px, #333, 10px, 10px)
                    }
            }


        }
        h4 {
            @include type_custom(calc(14px + 1vw),$eng_title_font);
            letter-spacing: 1px;

            @include responsive(pc-screens) {
                font-size: $semif;
            }
        }
        p{
            @include type_custom(calc(0.5em + 1vw), $common_font);
            line-height: 2em;
            text-align: justify;

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: $mains;
            }
            
            .sub {
                font-size: 12px;
            }
        }
    }

    .flex-content {
        padding-bottom: 150px;

        @include responsive(pc-screens) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 320px;
        }
    }

    .m_title {
        @include type_custom(calc(18px + 0.5vw), $common_font);
        margin-bottom: 30px;
        font-weight: 400;

        @include responsive(pc-screens) {
            display: none;
        }

        &::before {
            @include title_border_2(30px, 3px, #333, 5px, 5px)
        }
    }

    .p_title {
        @include type_custom($regularf_title, $common_font);
        margin-bottom: 30px;
        font-weight: 400;
        display: none;

        @include responsive(pc-screens) {
            display: block;
        }

        &::before {
            @include title_border_2(40px, 3px, #333, 10px, 10px)
        }
    }

    .context{
        position: relative;
        @include responsive(pc-screens){
            width: 580px;
        }

        .text {
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }

    .photo {
        width: 100%;

        @include responsive(pc-screens){
            width: 680px;
        }

        img {
            width: 100%;

            @include responsive(pc-screens){
                width: 680px;
            }
        }
    }

    .p_photo {
        @include responsive(pc-screens){
            width: 680px;
        }

        img {
            width: 100%;
            display: none;

            @include responsive(pc-screens){
                display: block;
                width: 680px;
            }
        }
    }

    .m_photo {
        width: 100%;
        
        @include responsive(pc-screens){
            width: 680px;
        }

        img {
            width: 100%;
            display: block;

            @include responsive(pc-screens){
                display: none;
            }
        }
    }

    .period {
        display: flex;
        margin-bottom: 25px;
    }

    .price {
        display: flex;
    }

    .info {
        h4{
            margin-right: 25px;
        }
    }

    button {
        display: block;
        cursor: pointer;
        margin: 0 auto;
        width: 45%;
        height: 40px;
        @include type_custom(calc(0.5em + 1vw), $common_font);
        font-weight: 200;
        background-color: $base_color_dark;
        border: 1px solid $base_color_dark;

        a {
            color: $base_color_light;
        }

        @include responsive(pc-screens) {
            height: 60px;
            font-size: $semif;
            position: absolute;
            right: 0;
            margin: 0;
            bottom: 0;

        }
        
        &:hover {
            transition: all 0.5s;
            background-color: #333;
            color: white;
        }
    }  

    #first {
        div.price {
            display: none;

            @include responsive(pc-screens) {
                display: block;
                display: flex;
            }
        }
    }

    #high_tea {
        div.price {
            h4 {
                margin-right: 40px;
            }
        }
    }

    #spectrum {
        div.info {
            .price {
                h4 {
                    padding-right: 105px;
                }
            }
        }
    }

    #romantic {
        div.price {
            h4 {
                margin-right: 40px;
            }
        }
    }

    .level {
        
        @include responsive(pc-screens) {
            display: flex;
            justify-content: space-between;
        }

        .premium,
        .gold,
        .black {
            display: flex;
            justify-content: space-between;

            @include responsive(pc-screens) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
