@import "../../../../scss/style.scss";
@import "../../../../scss/mixin.scss";

//header


//header


main {
    color: #333;
    .sec1 {
        .container {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-top: $mid_margin;
            }

            .flex-box {
                background-color: #f6d7d7;
                padding: 30px;
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            
                .flex-box1 {
                    display: flex;
                    // justify-content: space-around;

                    @include type_custom(calc(0.6em + 0.6vw),$common_font);
                        // margin-bottom: calc(0.3em + 0.3vw);

                    @include responsive(pc-screens) {
                        font-size: $mainf;
                        justify-content: space-around;
                    }

                    .info {
                        font-family: $eng_title_font;
                        line-height: 50px;
                        letter-spacing: 1px;

                        @include responsive (pc-screens) {
                            line-height: 70px;
                        }
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;

                        @include responsive (pc-screens) {
                            line-height: 70px;
                        }
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: center;

                    .menu {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        letter-spacing: 1px;
                        background-color: white;
                        margin-top: 10px;

                        @include responsive (pc-screens) {
                            margin-top: 30px;
                            margin-bottom: 29px;
                        }

                        a {
                            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);
                                // margin-bottom: calc(0.3em + 0.3vw);

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }
                        }
                    }
                }
            }

            .sec1-img {
                width: 100%;

                @include responsive(pc-screens) {
                    width: 50%;
                }
            }

            .sec1-img img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }
    }
    
    .sec2 {
        margin-top: $mid_margin_m;
        
        @include responsive (pc-screens) {
            margin-top: $mid_margin;
        }

        .sec2-text {
            text-align: center;

            p {
                @include type_custom(calc(0.6em + 0.6vw),$common_font);
                    // margin-bottom: calc(0.3em + 0.3vw);

                @include responsive(pc-screens) {
                    font-size: $mainf;
                }
            }

            .tea {
                letter-spacing: 2px;
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);

                @include responsive(pc-screens) {
                    font-size: 5em;
                }
            }
        }

        .sec2-img-box {
            img {
                width: 100%;
                display: block;
            }
            
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    }
    
    .sec3 {
        margin-top: $mid_margin_m;
        margin-bottom: $footer_margin_m;

        @include responsive (pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $footer_margin;
        }

        .sec3-text {
            text-align: center;

            h2 {
                letter-spacing: 2px;
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);

                @include responsive(pc-screens) {
                    font-size: 5em;
                }
            }
        }

        .sec3-img-box {
            img {
                width: 100%;
                display: block;
            }
            
            @include responsive(pc-screens) {
                display: flex;
            }
        }
    }
} //.main
