@import "../../../../scss/style.scss";
@import "../../../../scss/mixin.scss";


strong {
    font-weight: 400;
}

//header



main {
    color: #333;
    .sec1 {
        .container {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-top: $mid_margin;
            }

            .flex-box {
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            
                .flex-box1 {
                    display: flex;
                    // justify-content: space-between;

                    @include responsive(pc-screens) {
                        justify-content: space-around;
                    }

                    .info {
                        line-height: 50px;
                        letter-spacing: 1px;

                        @include type_custom(calc(0.6em + 0.6vw),$eng_title_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;

                        @include type_custom(calc(0.6em + 0.6vw),$common_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: center;
                    // margin-left: 200px;

                    .menu {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        letter-spacing: 1px;
                        background-color: rgba($color: #8a714b, $alpha: 0.8);

                        @include responsive (pc-screens) {
                            margin-top: 10px;
                        }

                        a {
                            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }
                        }
                    }
                }
            }

            .sec1-img {
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            }

            .sec1-img img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }
    }
    
    .sec2 {
        margin-bottom: $mid_margin_m;

        @include responsive(pc-screens) {
            margin-bottom: $mid_margin;
        }

        .sec2-flex-box {
            @include responsive(pc-screens) {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .sec2-flex-box ul {
            background-image: url(../img/Mariposa/na1111.png);
            background-repeat: no-repeat;
            background-position: right;
            width: 100%;
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                text-align: center;
                margin-top: 100px;
                margin-bottom: 0;
            }
        }
    
        .sec2-flex-box .notice {
            line-height: 50px;
            letter-spacing: 1px;

            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                // width: 100%;
                line-height: 60px;
                margin-right: 370px;

                
            }
        }
        
        .sec2-flex-box li {
            list-style: inside;
            line-height: 50px;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                // width: 100%;
                line-height: 60px;
            }
        }       
        
        .sec2-flex-box img {
            width: 100%;
            display: block;
            
            @include responsive(pc-screens) {
                width: 50%;
            }
        }
    }  
    
    .sec4 {
        img {
            width: 100%;
            display: block;
    
            @include responsive (pc-screens) {
                width: 100%;
            }
        }
    
        .hover-img {
            position: relative;
            display: block;                
        }
    
        .hover-img p {
            @include type_custom(calc(1.5em + 3vw), $eng_title_font);
            color: #000000;
            font-weight: bold;
            text-align: center;
            line-height: 60px;
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);

            @include responsive(pc-screens) {
                font-size: 5em;
                letter-spacing: 6px;
            }
        }
    }
    
    .sec5 {
        img {
            width: 100%;
            display: block;
        }
        
        .sec5-flex-box {
            margin-top: $mid_margin_m;

            @include responsive (pc-screens) {
                display: flex;
                width: 100%;
                margin-top: $mid_margin;
            }
        }
    
        .sec5-text {
            background-image: url(../img/Mariposa/navi222.png);
            background-repeat: no-repeat;
            background-position: left;
            text-align: center;
            @include type_custom(calc(8px + 3vw), $common_font);
            line-height: calc(1em + 3vw);
            font-weight: 200;
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                font-size: 38px;
                line-height: 56px;
                margin-top: 80px;
                width: 100%;
            }
        }
    
        .sec5-flex-box img {
            margin-bottom: $small_margin_m;

            @include responsive (pc-screens) {
                width: 50%;
                display: block;
                margin-bottom: 0;
            }
        }
    
        .sec5-flex-box2 {
            @include responsive (pc-screens) {
                display: flex;
                width: 100%;
            }
        }
    
        .sec5-flex-box2 img {
            @include responsive (pc-screens) {
                width: 50%;
                display: block;
            }            
        }

        .sec5-flex-box2 .wine2 {
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }

        .sec5-flex-box2 .wine3 {
            margin-bottom: $footer_margin_m;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }
    }
} //.main


