main {
  color: #333;
}

main .sec1 .container {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container {
    display: flex;
    margin-top: 125px;
  }
}

main .sec1 .container .flex-box {
  background-color: #f6d7d7;
  padding: 30px;
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box {
    width: 50%;
    margin-bottom: 0;
  }
}

main .sec1 .container .flex-box .flex-box1 {
  display: flex;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 {
    font-size: 18px;
    justify-content: space-around;
  }
}

main .sec1 .container .flex-box .flex-box1 .info {
  font-family: "LEMON MILK Light";
  line-height: 50px;
  letter-spacing: 1px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .info {
    line-height: 70px;
  }
}

main .sec1 .container .flex-box .flex-box1 .detail {
  margin-left: 50px;
  line-height: 50px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .detail {
    line-height: 70px;
  }
}

main .sec1 .container .flex-box .menu-flex-box {
  display: flex;
  justify-content: center;
}

main .sec1 .container .flex-box .menu-flex-box .menu {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  background-color: white;
  margin-top: 10px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu {
    margin-top: 30px;
    margin-bottom: 29px;
  }
}

main .sec1 .container .flex-box .menu-flex-box .menu a {
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu a {
    font-size: 18px;
  }
}

main .sec1 .container .sec1-img {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img {
    width: 50%;
  }
}

main .sec1 .container .sec1-img img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .sec1-img img {
    width: 100%;
  }
}

main .sec2 {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec2 {
    margin-top: 125px;
  }
}

main .sec2 .sec2-text {
  text-align: center;
}

main .sec2 .sec2-text p {
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-text p {
    font-size: 18px;
  }
}

main .sec2 .sec2-text .tea {
  letter-spacing: 2px;
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-text .tea {
    font-size: 5em;
  }
}

main .sec2 .sec2-img-box img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-img-box {
    display: flex;
  }
}

main .sec3 {
  margin-top: 65px;
  margin-bottom: 100px;
}

@media screen and (min-width: 1400px) {
  main .sec3 {
    margin-top: 125px;
    margin-bottom: 200px;
  }
}

main .sec3 .sec3-text {
  text-align: center;
}

main .sec3 .sec3-text h2 {
  letter-spacing: 2px;
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
}

@media screen and (min-width: 1400px) {
  main .sec3 .sec3-text h2 {
    font-size: 5em;
  }
}

main .sec3 .sec3-img-box img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec3 .sec3-img-box {
    display: flex;
  }
}
