@import "../../../../scss/style.scss";
@import "../../../../scss/mixin.scss";
//header


//header


main {
    color: #333;

    .sec1 {
        .container {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-top: $mid_margin;
            }

            .flex-box {
                background-color:rgba($color: #b80000, $alpha: 0.05);
                padding: 10px;
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            
                .flex-box1 {
                    display: flex;
                    // justify-content: space-between;

                    @include responsive(pc-screens) {
                        justify-content: space-around;
                    }

                    .info {
                        line-height: 50px;
                        letter-spacing: 1px;

                        @include type_custom(calc(0.6em + 0.6vw),$eng_title_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;

                        @include type_custom(calc(0.6em + 0.6vw),$common_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: center;
                    // margin-left: 200px;

                    .menu {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        letter-spacing: 1px;
                        background-color: #eeb6b6;

                        @include responsive (pc-screens) {
                            margin-top: 10px;
                        }

                        a {
                            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }
                        }
                    }
                }
            }       
            
            .sec1-img {
                width: 100%;
                margin-bottom: $small_margin_m;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            }

            .sec1-img img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }
    }
    
    .sec2 {
        margin-bottom: $mid_margin_m;
        

        @include responsive(pc-screens) {
            margin-bottom: $mid_margin;
        }

        .sec2-flex-box {
            

            @include responsive(pc-screens) {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .sec2-flex-box ul {
            width: 100%;
            background-color:rgba($color: #b80000, $alpha: 0.05);
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                width: 50%;
                text-align: left;
                // margin-top: 110px;
                margin-bottom: 0;
                padding-left: 80px;
                padding-top: 110px;
            }
        }
    
        .sec2-flex-box .notice {
            line-height: 50px;
            letter-spacing: 1px;

            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
                // margin-right: 370px;
            }
        }
        
        .sec2-flex-box li {
            list-style: inside;
            line-height: 50px;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
            }
        }

        .hover-img {
            width: 100%;

            @include responsive(pc-screens) {
                width: 50%;
            }

            img {
                width: 100%;
                display: block;

                @include responsive(pc-screens) {
                    width: 100%;
                }
            }
        }

        .hover-img {
            position: relative;
        }

        .hover-img p {
            color: black;
            text-align: center;
            line-height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            @include type_custom(calc(1em + 1vw),$common_font); 

            @include responsive(pc-screens) {
                font-size: 2em;
            }

            strong {
                font-family: $eng_title_font;
                letter-spacing: 2px;                    
            }

            a {
                font-family: $eng_title_font;
                color: #333333;
                font-size: 24px;
            }

            a:hover {
                text-decoration: none;
                color: #b80000;
                transition: all 0.5s;
            }
        }
    }

    .sec3 {
        margin-top: $mid_margin_m;
        margin-bottom: $small_margin_m;

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $small_margin;
        }

        .main-text {
            h4 {
                @include sub_h4;

                &::before {
                    @include title_border(30px, 3px, #333, 8px);

                    @include responsive(pc-screens) {
                        @include title_border(40px, 4px, #333, 10px);
                    }
                }
            }
        }
    }
    
    .sec4 {
        @include responsive(pc-screens) {
            display: flex;
        }
    
        .hover1 img,
        .hover2 img {
            width: 100%;
            display: block;
        }
        
        .hover1,
        .hover2 {
            width: 100%;
            position: relative; 
    
            @include responsive(pc-screens) {
                width: 50%;
            }
        }
    
        .hover1 p,
        .hover2 p {
            color: #333333;
            font-weight: 300;
            padding-left: 20px;
            line-height: 50px;            
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);

            @include type_custom(calc(0.7em + 1vw),$common_font);
    
            @include responsive(pc-screens) {
                font-size: 2em;
                padding-left: 100px;
                line-height: 70px;          
            }
        }

        .hover1 {
            margin-bottom: 0;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }

        .hover2 {
            margin-bottom: $footer_margin_m;

            @include responsive(pc-screens) {
                margin-bottom: $footer_margin;
            }
        }
    }
} //.main

