@import "../../../../scss/style.scss";
@import "../../../../scss/mixin.scss";


strong {
    font-weight: 400;
}

//header


main {
    color: #333;
    .sec1 {
        .container {
            margin-top: $mid_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-top: $mid_margin;
            }

            .flex-box {
                width: 100%;
                margin-bottom: $small_margin_m;
                background-color: #eeeeee;

                @include responsive(pc-screens) {
                    width: 50%;
                    margin-bottom: 0;
                }
            
                .flex-box1 {
                    display: flex;                    

                    @include responsive(pc-screens) {
                        justify-content: space-around;
                    }

                    .info {
                        line-height: 50px;
                        letter-spacing: 1px;

                        @include type_custom(calc(0.6em + 0.6vw),$eng_title_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
    
                    .detail {
                        margin-left: 50px;
                        line-height: 50px;

                        @include type_custom(calc(0.6em + 0.6vw),$common_font);

                        @include responsive(pc-screens) {
                            font-size: $mainf;
                            line-height: 60px;
                        }
                    }
                }
    
                .menu-flex-box {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 20px;
                    
                    .menu {
                        width: 170px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        letter-spacing: 1px;
                        background-color: #bdbdbd;

                        @include responsive (pc-screens) {
                            margin-top: 10px;
                        }

                        a {
                            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

                            @include responsive(pc-screens) {
                                font-size: $mainf;
                            }
                        }
                    }
                }
            }
        }
        
        .sec1-img img {
            width: 100%;
            display: block;

            @include responsive (pc-screens) {
                width: 100%;
            }
        }
        
        .sec1-img {
            width: 100%;
            position: relative; 
    
            @include responsive(pc-screens) {
                width: 50%;
            }
        }
    
        .sec1-img p {
            @include type_custom(calc(1.5em + 3vw), $eng_title_font);
            color: white;
            font-weight: 400;
            text-align: center;        
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
    
            @include responsive(pc-screens) {
                font-size: 5em;
                letter-spacing: 6px;
            }
        }
    }
    
    .sec2 {
        margin-top: $small_margin_m;
    
        @include responsive(pc-screens) {
            margin-top: 0;
        }

        .container {
            @include responsive(pc-screens) {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .sec2-flex-box {
            background-color: #eeeeee;
            width: 100%;
            margin-bottom: $small_margin_m;

            @include responsive(pc-screens) {
                width: 50%;
                margin-bottom: 0;
                text-align: left;
                padding-top: 160px;
                padding-left: 80px;
            }
        }

        .sec2-flex-box .notice {
            line-height: 50px;
            letter-spacing: 1px;

            @include type_custom(calc(0.6em + 0.6vw), $eng_title_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
            }
        }
        
        .sec2-flex-box li {
            list-style: inside;
            line-height: 50px;

            @include type_custom(calc(0.6em + 0.6vw), $common_font);

            @include responsive(pc-screens) {
                font-size: $mainf;
                line-height: 60px;
            }
        }       
        
        .sec2-img img {
            width: 100%;
            display: block;

            @include responsive (pc-screens) {
                width: 100%;
            }
        }
        
        .sec2-img {
            width: 100%;
            position: relative; 
    
            @include responsive(pc-screens) {
                width: 50%;
            }
        }
    
        .sec2-img p {
            @include type_custom(calc(1.5em + 3vw), $eng_title_font);
            color: white;
            ;
            text-align: center;        
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
    
            @include responsive(pc-screens) {
                font-size: 5em;
                letter-spacing: 6px;
            }
        }
    }
    
    .sec4 .maintext {
        margin-top: $mid_margin_m;
        margin-bottom: $mid_margin_m;        

        @include responsive(pc-screens) {
            margin-top: $mid_margin;
            margin-bottom: $mid_margin;
        }

        p {
            text-align: center;
            @include type_custom(calc(7px + 2vw), $common_font);
            line-height: calc(2em + 3vw);
            font-weight: 200;
            
            @include responsive(pc-screens) {
                font-size: 38px;
                line-height: 96px;
            }
        }
    }   
    
    .sec5 {
        .sec5-flex-box {
            margin-bottom: $footer_margin_m;

            @include responsive(pc-screens) {
                display: flex;
                margin-bottom: $footer_margin;
            }
    
            img {
                width: 100%;
                display: block;
            }
        }
    
        .hover-img1,
        .hover-img2,
        .hover-img3,
        .hover-img4 {
            position: relative;                
        }

        .hover-img1 p,
        .hover-img2 p,
        .hover-img3 p,
        .hover-img4 p {
            @include type_custom(calc(1.5em + 3vw), $eng_title_font);
            color: white;
            ;
            text-align: center;
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
    
            @include responsive(pc-screens) {
                font-size: 5em;
                letter-spacing: 6px;
            }
        }
    }
} //.main

