@import "../../scss/style.scss";
@import "../../scss/mixin.scss";


//header
section div.main0 {
    // background-size: cover;
    height: 100vh;

        .bg_img {
            @include video_matte;
            z-index: -1;
            overflow: hidden;
        
            &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;  
            }

            @keyframes img_size {
                from{
                    transform: scale(1.2);
                    transform-origin: center center;
                }

                to{
                    transform: scale(1);
                }
            }

            img {
                animation: img_size 10s;

                @include responsive(pc-screens) {
                    width: 100vw;
                    height:100vh;
                }
            }
            .p_bg {
                img {
                    width: 100%;
                    display: none;
        
                    @include responsive(pc-screens){
                        display: block;
                        width: 100%;
                    }
                }
            }
        
            .m_bg {
                img {
                    width: 100%;
        
                    @include responsive(pc-screens){
                        display: none;
                    }
                }
            }
        }

        .main0_contents {
            position: absolute;
            text-align: center;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);

            h2 {
                @include type_custom(calc(1.5em + 3vw), $eng_title_font);
                letter-spacing: 2px;
                color: white;
                margin-bottom: calc(0.3em + 0.5vw);

                @include responsive(pc-screens) {
                    font-size: 5em;
                    margin-bottom: 40px;
                }

                &::before {
                    @include title_border(40px, 6px, white, 5px);

                    @include responsive(pc-screens) {
                        @include title_border(80px, 8px, white, 10px)
                    }
                }
            }
    
            button {
                width: 200px;
                background-color: transparent;
                border: 1px solid white;
                height: 50px;
                @include type_custom(1.2em, $common_font);
                color: white;
                font-weight: 200;


                @include responsive(pc-screens) {
                    width: 360px;
                    height: 65px;
                    font-size: 2em;
                }

                &:hover {
                    background-color: #fff;
                    transition: all 0.5s;
                    color: #333;
                }
            }

        }

        .colormatte {
            @include video_matte;
            background-color: black;
            opacity: 0.1;
            z-index: -1;
        }

        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;

            @keyframes move {
                from{
                    bottom: 30px;
                }

                75%{
                    bottom: 60px;
                } 
    
                to{
                    bottom: 60px;
                }
            }

            @keyframes move_pc {
                from{
                    bottom: 60px;
                }

                75%{
                    bottom: 30px;
                } 
    
                to{
                    bottom: 30px;
                }
            }

            img {
                position: absolute;
                bottom: 40px;
                animation: move 2s infinite;
                transform: translateX(-50%);

                @include responsive(pc-screens) {
                    animation: move_pc 2s infinite;
                }
            }

            p{
                transform: translateX(-50%);
                font: {
                    family: $eng_title_font;
                }
                letter-spacing: 1px;
                color: white;
            }

            .pc_mouse {
                display: none;

                @include responsive(pc-screens) {
                    display: block;
                }
            }

            .mo_mouse {
                img {
                    opacity: 0.5;
                }

                @include responsive(pc-screens) {
                    display: none;
                }
            }
        }
} // section

main {
    background-size: cover;
    position: relative;
    
    .bg-video {
        @include video_matte;
        z-index: -1;
        overflow: hidden;
    
        &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
    }

    padding-top: 85px;
    // background-color: #9a8c7f;
    color: #fff;
    text-align: justify;

    @include responsive(pc-screens) {
        text-align: justify;
        width: 100%;
    }

    h2 {
        // font-size: 55px;
        text-align: center;
        margin-bottom: 40px;
        font-family: $eng_title_font;

        @include responsive(pc-screens) {
            font-size: $bigf_sub_title;
            width: 100%;
            text-align: justify;
        }

        &::before {
            @include title_border(30px, 4px, white, 5px);

            @include responsive(pc-screens) {
                @include title_border_2(40px, 4px, white, 5px, 5px)
            }
        }
        font-size: $bigf_sub_title_m;

        
    }

    section {
        padding-bottom: 135px;

        @include responsive(pc-screens) {
            padding-bottom: 500px;
        }
    }

    .section1-flex {
        @include responsive(pc-screens) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 290px;
        }

        h2 {
            @include responsive(pc-screens) {
                margin-right: 175px;
                width: 420px;
            }
        }

        p {
            font-size: calc(16px + 0.5vw);
            line-height: calc(32px + 0.5vw);
            @include responsive(pc-screens) {
                font-size: $semif;
                line-height: $semis;
                width: 880px;
            }
        }
    }

    .section2-flex {

        display: flex;
        flex-direction: column;

        @include responsive(pc-screens) {
            // display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        div.section-text {

            @include responsive(pc-screens) {
                width: 420px;
            }

            p {
                margin-bottom: 50px;
    
                @include responsive(pc-screens) {
                    font-size: 24px;
                }
            }

        }

        

        div.service-icon {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;

            @include responsive(pc-screens) {
                width: 880px;
            }
    
            div {
                // display: block;
                width: 17%;

                @include responsive(pc-screens) {
                    // margin-right: 30px;
                    text-align: center;
                    width: 170px;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    font-weight: normal;
                    &:hover {
                        font-weight: bold;
                    }
                }

                img {
                        width: 70%;
                        margin-left: 10px;

                    @include responsive(pc-screens) {
                        width: 86px;
                        margin-left: 0;
                    }
                }
    
                p{
                    font-size: calc(12px + 0.4vw);
                    margin-top: 10px;
                    margin-bottom: 20px;
                    width: 90%;
                    text-align: center;

                    @include responsive(pc-screens) {
                        font-size: $mainf;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }

    .map {
        .section3-flex {
            img {
                width: 100%;

                @include responsive(pc-screens) {
                    width: 80%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .location {
            @include responsive(pc-screens) {
                display: flex;
                justify-content: space-between;
                margin-left: 140px;
                margin-right: 140px;
            }

            h3 {
                font-size: 26px;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 12px;

                @include responsive(pc-screens) {
                    font-size: 36px;
                }
            }
            .row {
                display: flex;
                float: right;

                @include responsive(pc-screens) {
                    margin-top: 30px;
                }

                img {
                    width: 28px;
                    height: auto;

                    @include responsive(pc-screens) {
                        width: 45px;
                    }
                }
                p{
                    font-size: 12px;
                    margin-top: 5px;

                    @include responsive(pc-screens) {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    .route {
        margin: 0;

        .section4-flex {
            
            @include responsive(pc-screens) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .acordian-menu {
            width: 100%;
            // background-color: #222;

            @include responsive(pc-screens) {
                width: 1200px;
            }

            li {
                list-style: none;

                &:last-child{
                    border-bottom: 1px solid #fff;
                }

                a {
                    display: flex;
                    text-decoration: none;
                    line-height: 40px;
                    padding: 10px 0;
                    // background-color: #666;
                    color: #fff;
                    font-weight: bold;
                    border-top: 1px solid #fff;

                    img {
                        width: 30px;
                        margin-right: 10px;
                    }
                }
                .method {
                    padding: 40px;
                    // background-color: #ddd;
                    color: #fff;
                    text-align: justify;
                    display: none;
                }
            }
        }
    }
} //.main

