strong {
  font-weight: 400;
}

main {
  color: #333;
}

main .sec1 .container {
  margin-top: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container {
    display: flex;
    margin-top: 125px;
  }
}

main .sec1 .container .flex-box {
  width: 100%;
  margin-bottom: 25px;
  background-color: #eeeeee;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box {
    width: 50%;
    margin-bottom: 0;
  }
}

main .sec1 .container .flex-box .flex-box1 {
  display: flex;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 {
    justify-content: space-around;
  }
}

main .sec1 .container .flex-box .flex-box1 .info {
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .info {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec1 .container .flex-box .flex-box1 .detail {
  margin-left: 50px;
  line-height: 50px;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .flex-box1 .detail {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec1 .container .flex-box .menu-flex-box {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

main .sec1 .container .flex-box .menu-flex-box .menu {
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #bdbdbd;
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu {
    margin-top: 10px;
  }
}

main .sec1 .container .flex-box .menu-flex-box .menu a {
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec1 .container .flex-box .menu-flex-box .menu a {
    font-size: 18px;
  }
}

main .sec1 .sec1-img img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec1 .sec1-img img {
    width: 100%;
  }
}

main .sec1 .sec1-img {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1400px) {
  main .sec1 .sec1-img {
    width: 50%;
  }
}

main .sec1 .sec1-img p {
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
  color: white;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1400px) {
  main .sec1 .sec1-img p {
    font-size: 5em;
    letter-spacing: 6px;
  }
}

main .sec2 {
  margin-top: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec2 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1400px) {
  main .sec2 .container {
    display: flex;
    flex-direction: row-reverse;
  }
}

main .sec2 .sec2-flex-box {
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: 25px;
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box {
    width: 50%;
    margin-bottom: 0;
    text-align: left;
    padding-top: 160px;
    padding-left: 80px;
  }
}

main .sec2 .sec2-flex-box .notice {
  line-height: 50px;
  letter-spacing: 1px;
  font-family: "LEMON MILK Light";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box .notice {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec2 .sec2-flex-box li {
  list-style: inside;
  line-height: 50px;
  font-family: "SCoreDream";
  font-size: calc(0.6em + 0.6vw);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-flex-box li {
    font-size: 18px;
    line-height: 60px;
  }
}

main .sec2 .sec2-img img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-img img {
    width: 100%;
  }
}

main .sec2 .sec2-img {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-img {
    width: 50%;
  }
}

main .sec2 .sec2-img p {
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1400px) {
  main .sec2 .sec2-img p {
    font-size: 5em;
    letter-spacing: 6px;
  }
}

main .sec4 .maintext {
  margin-top: 65px;
  margin-bottom: 65px;
}

@media screen and (min-width: 1400px) {
  main .sec4 .maintext {
    margin-top: 125px;
    margin-bottom: 125px;
  }
}

main .sec4 .maintext p {
  text-align: center;
  font-family: "SCoreDream";
  font-size: calc(7px + 2vw);
  line-height: calc(2em + 3vw);
  font-weight: 200;
}

@media screen and (min-width: 1400px) {
  main .sec4 .maintext p {
    font-size: 38px;
    line-height: 96px;
  }
}

main .sec5 .sec5-flex-box {
  margin-bottom: 100px;
}

@media screen and (min-width: 1400px) {
  main .sec5 .sec5-flex-box {
    display: flex;
    margin-bottom: 200px;
  }
}

main .sec5 .sec5-flex-box img {
  width: 100%;
  display: block;
}

main .sec5 .hover-img1,
main .sec5 .hover-img2,
main .sec5 .hover-img3,
main .sec5 .hover-img4 {
  position: relative;
}

main .sec5 .hover-img1 p,
main .sec5 .hover-img2 p,
main .sec5 .hover-img3 p,
main .sec5 .hover-img4 p {
  font-family: "LEMON MILK Light";
  font-size: calc(1.5em + 3vw);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1400px) {
  main .sec5 .hover-img1 p,
  main .sec5 .hover-img2 p,
  main .sec5 .hover-img3 p,
  main .sec5 .hover-img4 p {
    font-size: 5em;
    letter-spacing: 6px;
  }
}
